[2018-06-19 21:30] jlengstorf opened #1 "Add loading state for discount code retrieval"
Currently there's a lag when retrieving discount codes. I _think_ this is necessary, because the API has to hit GitHub's API, then Shopify's API, then respond.

However, it currently looks like nothing has happened, which will likely result in duplicate clicks and probably rate limiting issues with GitHub.

We need to:

- [x] disable the button after clicking
- [x] show a loading state
- [x] hide

[2018-06-19 21:31] jlengstorf opened #2 "Write copy for the store page"
Right now there's placeholder copy at the top of the store page. That needs to be written before we can launch.

[2018-06-19 21:50] jaredpalmer opened #3 "Question: Do changes in shopify product trigger rebuilds?"
on mobile, so don't have ability to dig into code, but just curious.

Also, if not, how would you do this?

[2018-06-19 23:33] jlengstorf opened #4 "Set up Shopify webhook to trigger rebuild on product update"

[2018-06-19 23:35] jlengstorf commented on #3
@jaredpalmer at the moment, no, but it's possible by setting up a webhook: [Shopify fires a webhook](https://help.shopify.com/api/reference/events/webhook) when products are updated, and [Netlify can trigger rebuilds via webhook](https://www.netlify.com/docs/webhooks/). I've created #4 to track implementing this.

(Unrelated: I saw you made an order. Thank you! We're still waiting for the swag to

[2018-06-19 23:38] jlengstorf opened #5 "Redirect to the previous page on login"
Right now login always redirects to the home page. Ideally, we'll track the page that someone was attempting to access, e.g /account/dashboard, and send them directly there. I think Auth0 already supports this; just need to look up how to implement it.

[2018-06-19 23:38] #3 closed

[2018-06-19 23:42] jlengstorf opened #6 "Show contributor tweets on the dashboard"
This may be more work than it's worth, but it could be cool to show tweets from contributors on the dashboard to help build community.

An example tweet: https://twitter.com/deutschevita/status/1005082671301742592

Questions:

- How are these curated and loaded?
- Do we need permission to do this?
- Is it worth the effort?

[2018-06-20 04:44] jlengstorf opened #7 "Replace the cart icon"
Currently, the cart icon is a placeholder. We need to either create one or pick a new one from e.g. thenounproject.com

@fk when we get to the store fit and finish work, let's put this on your list.

[2018-06-20 04:46] jlengstorf opened #8 "Add loading state during discount code retrieval"
Currently, there's a lag when retrieving discount codes. I _think_ this is necessary because we hit the API, which then has to hit GitHub's API and Shopify's API before it can respond.

However, it looks like nothing has happened right now for upwards of a second or two, which will likely result in duplicate clicks and probably rate limiting issues with GitHub.

We need to:

- [ ] disable the butt

[2018-06-20 04:46] jlengstorf commented on #1
Moved to public repo: https://github.com/gatsbyjs/store.gatsbyjs.org/issues/8

[2018-06-20 04:47] jlengstorf commented on #8
This is a duplicate of #1. I'm a dipshit.

[2018-06-20 04:47] #8 closed

[2018-06-20 14:39] jlengstorf opened #9 "Update sock product details"
- [x] Add a photo of the actual socks
- [x] Update sizing
- [x] Double-check description

This is updated in the Shopify admin section.

[2018-06-20 14:40] marisamorby opened #10 "Update T-shirt Sizing"
* T-shirt sizing: List Unisex 2XL sizing
* T-shirt sizing: Remove L from women's sizing, we didn't order that

[2018-06-20 14:40] jlengstorf opened #11 "Add ability to request a size that isn't currently in stock"
Feedback from @marisamorby:

[2018-06-20 14:42] jlengstorf opened #12 "Make sure discount codes work for all of the contributor swag"
Currently the discount code only seems to work for the purple shirt — it _should_ allow contributors to get either the purple tee, dark deploy tee, or the socks for free.

Check this in the Shopify admin dashboard.

[2018-06-20 14:42] marisamorby opened #13 "Add validation around the cart button"
*Remove negative quantities from sizing options. If I try to add -1 shirts, nothing happens. I'm still able to click the button.
* clicking it without selecting a size will open the cart preview even though nothing's been added
* maybe change the quantity inputs to drop downs instead of free text?
* remove "choose a size" option from the size dropdowns, default to the first size
* the above change

[2018-06-20 14:45] jlengstorf opened #14 "Make sure shipping is always free"
@gatsbyjs/inkteam is going to cover shipping costs for swag — make sure Shopify is aware of this and not trying to charge for it. 😅

[2018-06-20 14:46] marisamorby opened #15 "Redesign "claim your discount" on the dashboard"
I had to guess that the Dashboard would let me claim my discount code. Wondering how we can improve that without cluttering the UI too much…will let that simmer a little.

[2018-06-20 14:46] jlengstorf opened #16 "Make avatar/name of logged in user clickable as dashboard links"
Feedback from @pieh:

[2018-06-20 14:47] marisamorby opened #17 "Add sizing chart with cm and inches"
One thing I'm always happy about is a sizing chart to figure out wether I want M or L. Esp. the "M"s from the US tend to be a bit bigger than the European ones.

[2018-06-20 14:49] marisamorby opened #18 "Look into smaller images from the Shopify API for cart preview"
The cart preview image takes a while to load, for the dark deploy shirt it's a 3000px square image that gets displayed at 35px square

https://user-images.githubusercontent.com/381801/41650716-a4ce1eda-7476-11e8-9972-996d36413a18.png

[2018-06-20 14:49] jlengstorf opened #19 "Change the auth0 domain to reference Gatsby"
The Auth0 setup is currently using my account (jlengstorf.auth0.com). Ideally, this will use a Gatsby-related login link. When I checked, our company name was already taken, so we need to see if someone already claimed this.

cc: @KyleAMathews @calcsam

[2018-06-20 14:49] marisamorby opened #20 "Make it easier to dismiss the "Your Cart" overlay"
Make it easier to dismiss the "Your Cart" overlay - add a close button, detect clicks outside the overlay or detect pressing esc?

[2018-06-20 14:50] jlengstorf opened #21 "Make it clear that all prices are in USD"
It’s not clear what currency our prices are listed in. Add a note somewhere (the cart, maybe?) that all prices are in USD.

[2018-06-20 14:52] jlengstorf opened #22 "Make it clear that logging in is only possible with a GitHub account"
It should be more obvious that the only way to log in is with your GitHub account.

[2018-06-20 14:53] marisamorby opened #23 "Show Free Shipping"
Mention "free shipping" somewhere on the store homepage? Maybe in the cart would do it?

subtotal:
taxes:
shipping:
total price:

[2018-06-20 14:54] marisamorby opened #24 "Update Gatsby Contributor information"
* Make it clearer on the homepage that Gatsby contributors can claim a discount code?
* Make it clearer what the discount code entitles you to? "one-time code valid for one free item from the store"

[2018-06-20 14:55] jlengstorf opened #25 "Figure out why the callback page is hanging"
From @m-allanson:

I need to get in touch with @auth0 support to figure out what this means and how I can fix it.

cc: @lukeoliff

[2018-06-20 15:01] marisamorby opened #26 "Update error codes and discount code functionality"
* I wasn't able to apply the discount code "Your cart does not meet the requirements for the discount code". The error doesn't tell me what's wrong with my cart.

* Got a "Customer information does not meet the requirements for the discount code" message. Is that because I've used it already? This message could be clearer. If I've already used the discount code, then the store shouldn't generate n

[2018-06-20 15:04] jlengstorf opened #27 "Is it possible to redirect from the Shopify store to the Gatsby store?"
Technically, https://gatsby-swag.myshopify.com/ is visitable (though it _should_ be password-protected). Look into whether or not we can redirect that to store.gatsbyjs.org

[2018-06-20 15:06] marisamorby opened #28 "Update default cart quantities"
Set initial quantity inputs near "add to cart" buttons to 1 instead of 0 to avoid extra user interaction for most common case? (what I think would be most common case, didn't do actual research on that)

[2018-06-20 15:07] jlengstorf opened #29 "Update store email address to reach the whole team"
The store is currently sending emails from my Gatsby email. We should make that an email that hits the whole @gatsbyjs/inkteam: team@gatsbyjs.com or store@gatsbyjs.com or something.

cc: @calcsam do we already have an all-inkteam email set up?

[2018-06-20 15:14] jlengstorf opened #30 "Add a next step to the "order complete" screen"
Should this link back to the home page? Somewhere else? Maybe Twitter?

[2018-06-21 16:11] marisamorby opened #31 "Care instructions and other copy doesn't show on page"
I've put in the care instructions and other information on the product information section, but since there is no product details page, the information doesn't show up.

![Screenshot 2018-06-21 09.07.54.png](https://images.zenhubusercontent.com/5b10124df58c642fb89c9de1/d9a6a276-ec69-4236-a54f-25124ec835cf)

[2018-06-21 16:16] marisamorby commented on #11
Added this to each product listing. Sent a different issue over to you about what information you can view from the current product listing page.

[2018-06-21 16:17] #11 closed

[2018-06-21 17:40] marisamorby commented on #9
Emailed sock club to see if they can give us a better photo of the socks

[2018-06-21 17:40] #10 closed

[2018-06-21 21:28] marisamorby commented on #9
Added sock photo to store

[2018-06-21 21:28] #9 closed

[2018-06-21 23:06] jlengstorf commented on #31
I think we need @fk's help with this. If I include the care instructions, the design gets pretty gross.

[2018-06-21 23:08] jlengstorf commented on #25
@m-allanson From what I can find, this happens when the domains are mismatched between the original login call and the callback. If this happens again, can you check the domain you were redirected to?

I'll leave this open for now, but I think it may have been an initial configuration error from moving the domains around.

[2018-06-21 23:09] jlengstorf commented on #19
I'm hoping I can just _transfer_ instead of having to reconfigure the app under a new Auth0 tenant. Question is open: https://community.auth0.com/t/is-it-possible-to-transfer-an-app-to-a-new-tenant/12514

If I haven't heard back by Monday, I'll just reconfigure new apps.

[2018-06-21 23:10] jlengstorf commented on #25
Actually, to eliminate some clutter I'm going to close this. If anyone sees this issue again, please open a new issue and we'll dig deeper.

[2018-06-22 00:52] #21 closed

[2018-06-22 00:53] #2 closed

[2018-06-22 00:54] #5 closed

[2018-06-22 00:54] #16 closed

[2018-06-22 09:29] m-allanson commented on #25
Aha! I think forcing https on store.gatsbyjs.org should fix this.

`http://store.gatsbyjs.org -> login -> https://store.gatsbyjs.org` seems to be the cause.

[2018-06-22 15:04] jlengstorf commented on #25
Is HTTPS not already forced? Crap.

On Fri, Jun 22, 2018 at 2:29 AM Mike Allanson <notifications@github.com>
wrote:

--

*Jason Lengstorf*
Find me online: *Twitter <https://twitter.com/jlengstorf>* · GitHub
<https://github.com/jlengstorf> · *LinkedIn
<https://linkedin.com/in/jlengstorf/>*
Oversharing at *lengstorf.com <https://lengstorf.com/>*

[2018-06-22 15:05] jlengstorf commented on #25
It's now forced to HTTPS.

[2018-06-22 15:05] #25 closed

[2018-06-22 20:33] jlengstorf opened #36 "Add FAQ for discount codes"
The discount codes have rules, and I don't think I can update Shopify's messaging, so we need an FAQ that explains how this works.

- Why isn't the discount code working?
    - Single user per contributor
    - Only valid for GitHub email
    - Only valid for certain swag
- How do I qualify for a contributor discount code?
- What about non-GitHub contributions?
    - What qualifies?
    - How do w

[2018-06-26 17:50] kkemple opened #37 "[Swag] Water Bottles"
As cliche of a swag gift as they are, they are given out a lot for good reason! I use water bottles all the time and would love to rep Gatsby with one.

[Klean Kanteen](https://www.kleankanteen.com/pages/custom) is one alternative, I'm sure there are many other great ones too!

[2018-06-26 17:58] jlengstorf opened #38 "[Swag] custom nail wraps"
See this tweet for what I'm talking about: https://twitter.com/the_becca_lee/status/1009920104019083264?s=19

@fk I see some starry fingernails in our future. 😄💅

[2018-06-26 18:03] jlengstorf opened #39 "[Swag] create Gatsby hair scrunchies"
See this tweet for an idea of what I'm talking about:
https://twitter.com/brittanystoroz/status/1002486313663254528

[2018-06-26 18:07] jlengstorf opened #40 "[Swag] Gatsby hoodies"
Because _of course_ we need hoodies!

[2018-06-26 18:11] marisamorby opened #41 "Due Date: 7/2 Add a sizing chart to store"
cc @jlengstorf and @fk

## T-shirt Size Chart

* This size chart is listed in inches and is the simplest one I could find: https://www.apparelnbags.com/next-level/size-chart.htm

At this point we're ordering a "one size fits most" sock from Sock Club. There is no sizing guideline for this sock, so I will have to reach out to them and ask

[2018-06-26 18:14] marisamorby opened #42 "Verify that Figma prototyping works across devices"
@jlengstorf

We want to make sure that we're able to do lo-fi prototyping on multiple devices (laptop, iPad, mobile phone) using Figma. Please confirm that the prototypes will work on those devices

[2018-06-26 18:20] jlengstorf commented on #42
@marisamorby @fk Give this link a shot on your various devices:

https://www.figma.com/proto/MkzcVh715IET8qptsUbuRQZN/Gatsby-Team-Photos?scaling=min-zoom&node-id=4%3A0

[2018-06-26 18:22] jlengstorf commented on #42
Verified working on my Pixel 2 XL.

[2018-06-26 18:47] marisamorby opened #43 "Lo-fi prototype testing for cart and layout updates of swag store"
@jlengstorf @fk

## Goal
* Understand what cart interaction and sizing chart interaction is the lowest effort and works best for people

## Problem
* We don't want to spend time creating a cart and sizing chart interaction that ultimately needs to be reworked due to complexity, design system issues, etc.

## Solution & Next Steps
* Create lo-fi prototypes of 3 different cart and sizing chart inter

[2018-06-26 18:59] marisamorby opened #44 "Due Date: 7/3 | Make profile updates on swag store"
@jlengstorf @fk

## Goal
Make the profile area on the Swag Store dashboard easy to understand and fit in with upcoming design system.

## Problem
Currently, we don’t have a way for people to see an actual profile.

## Potential Solutions
* add a dropdown next to the profile picture to show that people can use the dashboard?
* remove the profile area altogether so people don't get confused?

[2018-06-26 22:07] jlengstorf opened #45 "Add SKUs and weights to all products in Shopify"
This is required for the fulfillment service to work correctly.

[2018-06-26 22:10] jlengstorf commented on #45
@marisamorby tagging you because I can't seem to assign this on mobile.

[2018-06-27 19:32] marisamorby opened #46 "Cart design examples for review"
@fk

cc @jlengstorf

**My suggestion for the cart would be the following:**
* Person adds item to cart
* Cart icon changes number and dropdown appears with item in cart
* The cart has the following options
     * checkout
     * continue shopping
     * X in right hand corner of cart
     * After 3 seconds the cart will disappear on its own

**Video clip resources**

[lululemon](https://www.dropbo

[2018-06-27 20:18] marisamorby opened #47 "Due 7/3: Review design decisions for Gatsby store that will influence and be part of the Gatsby design system"
@fk

cc @jlengstorf

**Goal**

Create a design system that works for the Gatsby dashboard and can be carried over to other elements of Gatsby.

**To Review**
* border radius
* key lines
* outlines
* typography

[2018-06-28 13:39] fk commented on #1
Always loved https://lab.hakim.se/ladda/ — maybe https://github.com/jsdir/react-ladda is an option if it's not too heavy?

[2018-06-28 13:43] fk commented on #15
You're not alone anymore! ;-)

[2018-06-28 14:00] fk commented on #15
One approach could be to solve this with a bespoke callout:

[2018-06-28 14:38] fk commented on #30
Could be both. ;-)

I'd definitely do Twitter because that'd be the place where we would announce new stuff available in the store (or restock), right? "Follow on Twitter to know when we add new stuff to the store".

Also thought about s/th along the way of "Thank you for contributing to Gatsby. We hope you like your free swag! Even if we are not able to give out more free stuff, we'd love you to

[2018-06-28 14:51] fk commented on #42
👍  Working, and artboard gets scaled down to the width of the device (the latter doesn't matter much, we still need at least a prototype for mobile and one for tablet/desktop and up).

[2018-06-28 14:57] fk commented on #46
I kinda like the "Excellent choice" in the Nordstrom one:
![image](https://user-images.githubusercontent.com/21834/42042355-4816238e-7af4-11e8-998f-2cee60b72210.png)

[2018-06-28 15:02] fk commented on #23
I'm guessing we only do free shipping for people with a coupon code?

[2018-06-28 15:06] fk commented on #7
How are people feeling about "cart" vs "bag"? Also see #46.

[2018-06-28 16:05] KyleAMathews commented on #23
Not sure if this was already decided but I vote for free shipping everywhere. That way we make a bit shipping to 1st world countries and subsidize everyone else.

[2018-06-28 16:48] varunzxzx opened #48 "GraphQL error"
I am getting the following error when running `develop` or `build`:
[code]

[2018-06-28 16:50] marisamorby commented on #23
As of right now we're doing free shipping everywhere. If it becomes cost
prohibitive then we may need to ask for a small amount of money for the
shirt to help subsidize the cost, but we will always keep shipping free.

On Thu, Jun 28, 2018 at 9:05 AM Kyle Mathews <notifications@github.com>
wrote:

--
Marisa Morby

marisamorby.com | me@marisamorby.com

Product Management | UX Research

[2018-06-28 17:32] marisamorby commented on #45
SKUs and weights added. I've also emailed Brandon at Threadbird.

[2018-06-28 17:32] #45 closed

[2018-06-28 20:39] m-allanson commented on #7
To me, _cart_ feels much more USA compared to _bag_. That's not a pro or a con though. Amazon use _basket_ in the UK and _cart_ for USA, Canada and Australia.

[2018-06-28 23:23] jlengstorf commented on #46
That would be a lot of fun.

"That's going to look *so good* on you."

or

"Purple is your color."

or

"We can't wait to see this on your Instagram."

😂

On Thu, Jun 28, 2018 at 7:57 AM Florian Kissling <notifications@github.com>
wrote:

--

*Jason Lengstorf*
Find me online: *Twitter <https://twitter.com/jlengstorf>* · GitHub
<https://github.com/jlengstorf> · *LinkedIn
<https://linkedin.com/in/jl

[2018-06-28 23:24] jlengstorf commented on #24
Love this!

[2018-06-28 23:36] jlengstorf commented on #22
Adding the text is probably good for now. I don't think we should commit to working on a non-GitHub version until we've verified that we're able to support that.

[2018-06-29 12:51] kkemple commented on #20
So far our Storybook integration consists of some form inputs in the .com site. There is absolutely no reason NOT to make it public and I would actually prefer to! This would require a new package and moving storybook and components into said package. This way all properties can install and make use of them. We should figure out where this lives as far as priority as it will only get harder the fu

[2018-06-29 13:22] fk commented on #7
LOL :-) (with a shopping cart icon next to it)

Amazon uses a cart icon, ebay does as well …
FWIW, I wonder if the shopping basket icon is just a designer wanting to do s/th different ;-)

I'll go ahead and make the call to stick to the original issue description and with the cart icon. IMO it's should be a little more established and legible.

Thanks for the feedback @m-allanson; pointing out Ama

[2018-06-29 14:02] fk commented on #1
Yep that makes sense now that you say it—the user could bail clicking one of the links to GitHub. To prevent the user to go anywhere we'd have to cover the whole screen (also cover the header/navigation) though? (…Smells a little like overthinking (just judging myself here ;-))

#49 Lookin' good!

---

Both a "loading screen" component and a "button with loading state indication" are excellent add

[2018-06-29 14:09] fk commented on #46
Love all of these. If it's not too much work to get that in, let's def. do this—just one standard message probably is a little boring the second time someone adds a product. Would be a lovely detail that reflects the Gatsby … "spirit" IMO.

[2018-06-29 20:52] jlengstorf opened #50 "[Swag] Knee-high socks"
Request: https://twitter.com/Brii_toe_knee/status/1012792593325985793

These would be fun to design, right @fk? 😄

[2018-06-29 21:12] jlengstorf opened #51 "[Swag] Freelance Pants"
@marisamorby originally created this issue; moving it to the store repo.

Purple pajama pants with the Gatsby logo on them.

Similar to this:

![Screenshot 2018-06-28 22.53.57.png](https://images.zenhubusercontent.com/5b10124df58c642fb89c9de1/8a5ecc73-f315-474d-bbe2-863932da1349)

[2018-06-29 21:13] jlengstorf opened #52 "IDEA: Swag for charity collaborations"
What if we teamed up with different designers and artists to come up with swag, then held limited-time charity sales where all proceeds went to a charity of the designer's choice? (We'd vet all charities to make sure we know where we're sending donations.)

This could be a good idea for several reasons:

1. We get to contribute to good causes, and that's awesome
2. It gives us an opportunity to re

[2018-06-29 21:17] jlengstorf commented on #48
@varunzxzx I think this is due to the fact that we're using a local copy of the Shopify plugin right now (I need to open a PR against the other plugin).

Run this and I _think_ it'll start working for you:

[code]

I'm about 99% sure that'll fix the problem, so I'm going to close this. If it doesn't work, please open a new issue and we'll go from there.

Thanks!

[2018-06-29 21:17] #48 closed

[2018-06-29 21:54] #42 closed

[2018-06-29 22:53] marisamorby commented on #12
Note: Go into Shopify, edit the discount code and fix the selector so that it allows any swag product to be bought with discount code.

[2018-06-29 22:54] marisamorby commented on #14
This should be correct now, but we'll watch the first few orders to make sure it's set correctly.

[2018-06-29 22:54] #14 closed

[2018-06-29 23:00] marisamorby commented on #22
@fk  @jlengstorf

Just a note here, I added a blocker to this task. We'll want the lo-fi prototype to be done and agreed on before we start thinking about this interaction.

[2018-06-29 23:02] marisamorby commented on #27
When I try to visit the site from an incognito window it doesn't let me enter. I think if you have admin rights to the Shopify you'll be able to see it though.

![Screenshot 2018-06-29 16.01.13.png](https://images.zenhubusercontent.com/5b10124df58c642fb89c9de1/b4a2d860-b176-46a4-81d0-04854b1ccebb)

[2018-06-29 23:02] #27 closed

[2018-06-29 23:02] marisamorby commented on #29
Done!

[2018-06-29 23:02] #29 closed

[2018-06-29 23:09] marisamorby opened #53 "Make sure logo works in Shopify emails"
Right now the logo is breaking when test email is sent (Chrome, MacBook Pro, Gmail)

[2018-06-29 23:18] marisamorby commented on #24
This is cooooool! 💯

[2018-06-30 00:34] jlengstorf opened #54 "Update CONTRIBUTING.md in all gatsbyjs org repos to mention the swag process."
In all repos that make contributors eligible for swag, we need to add info to `CONTRIBUTING.md` to explain how to get it.

Here's copy we can use as a starting point — please edit/clarify as needed:

@gatsbyjs/inkteam please review this copy to make sure we're being as clear as possible.

[2018-06-30 00:37] jlengstorf opened #55 "Write a blog post announcing the swag store"
- [x] Make it clear that all contributors are eligible for swag, even if they contributed before the store was launched
- [x] Explain shipping. Potentially leave an escape hatch because we have no idea how much international shipping can cost 😱
- [x] Walk through the reasoning. @marisamorby is planning to put together a full post on this, so we can potentially link out to it instead of covering it

[2018-06-30 00:40] jlengstorf opened #56 "Add details about claiming contributor rewards to the README of this repo"
See #54 for copy. It probably makes sense to link to the contributing docs instead of duplicating these details, and that would keep the README from turning into a monster.

[2018-06-30 04:54] varunzxzx commented on #53
Not only the test emails, the normal one is also breaking.

[2018-06-30 16:11] jlengstorf commented on #53
Hey, @varunzxzx — which email are you talking about? Do you have a screenshot available?

[2018-06-30 17:52] jlengstorf commented on #4
Configured webhooks in Shopify to rebuild on any product changes (create, update, delete).

[2018-06-30 17:52] #4 closed

[2018-06-30 17:57] jlengstorf commented on #4
For reference, these are the steps to make it happen:

## Set up a build hook on Netlify

1. Go to https://app.netlify.com/sites/YOUR_SITE/settings/deploys
2. Click "Add build hook"
3. Choose a name that describes what will trigger the rebuild
4. Choose which branch to rebuild (probably `master`)
5. Click "Save"

## Set up webhooks in Shopify

1. Go to https://YOUR_STORE.myshopify.com/admin/settin

[2018-06-30 19:18] jlengstorf commented on #54
I made a few edits to this and opened gatsbyjs/gatsby#6241 with proposed changes.

[2018-06-30 22:32] marisamorby commented on #53
Updated the logo and the emails should now work with the logo.

Screenshot below:

<img width="771" alt="screenshot 2018-06-30 15 32 19" src="https://user-images.githubusercontent.com/13393126/42129499-cd4c8912-7c7a-11e8-8323-97d139f1cc7e.png">

[2018-06-30 22:32] #53 closed

[2018-06-30 22:41] marisamorby commented on #12
Discount code updated to work across all products.

Screenshots below:
<img width="543" alt="screenshot 2018-06-30 15 40 14" src="https://user-images.githubusercontent.com/13393126/42129541-feeb9c28-7c7b-11e8-9d32-b9cf76684eee.png">

<img width="525" alt="screenshot 2018-06-30 15 39 41" src="https://user-images.githubusercontent.com/13393126/42129543-02a1b500-7c7c-11e8-89bb-83120669f029.png">

[2018-06-30 22:41] #12 closed

[2018-07-01 20:54] #13 closed

[2018-07-01 20:54] #28 closed

[2018-07-01 21:14] jlengstorf commented on #1
I didn't add a button with a loading state, but I added form styles to show loading/disable the form during submission.

I tried to make the components smaller and logically connected to it'll be easy to go in and see what's happening. My hope is that you'll only have to play with styles in many cases rather than rewriting components. We'll see how well that goes once you get the prototypes done i

[2018-07-01 21:15] #1 closed

[2018-07-02 00:29] jlengstorf commented on #38
https://twitter.com/ChloeCondon/status/1013454913479667712?s=19

More support for this.

[2018-07-02 11:07] fk commented on #7
Will add a PR to get the new icon in; here's a quick look at my first take of header components:

![image](https://user-images.githubusercontent.com/21834/42160779-c4e9f334-7df8-11e8-9c60-dbe072768b9d.png)

[2018-07-02 19:37] fk commented on #46
Reviewed!

[2018-07-02 19:37] #46 closed

[2018-07-02 19:55] fk commented on #22
Hey y'all! Let's start this off with Flo (shamefully) ignoring the blocking issue (#43). 🎉 🙄 🙏

I did so because I had everything in place for this particular thing and felt like it would be good to familiarize myself with Figma and its prototyping tools before starting with #43. Poor excuse, I know… FWIW I don't think #43 and this should affect each other much? Will stick to the script from now o

[2018-07-02 19:58] fk commented on #15
Quoting myself from https://github.com/gatsbyjs/store.gatsbyjs.org/issues/22#issuecomment-401915629:

https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=1%3A2&scaling=min-zoom lets you log in and open the dropdown menu for the logged in user.

[2018-07-02 21:15] fk commented on #47
I started reviewing while putting together the first designs and prototypes, and expanded the list from the issue description and added my initial thoughts (and one question) below:

* **border radius:** I'd plead for sticking to what we've currently got for .org—two border radi sizes, defaulting to 2px to give all kinds of things—buttons, images, form elements—subtle rounded corners; 4px for larg

[2018-07-02 21:41] jlengstorf commented on #22
This looks great, @fk! I think we can establish the user areas as part of
the profile drop-down, and make that part of the universal header UI
pattern.

This is truly excellent work. Thanks!
--

*Jason Lengstorf*
Find me online: *Twitter <https://twitter.com/jlengstorf>* · GitHub
<https://github.com/jlengstorf> · *LinkedIn
<https://linkedin.com/in/jlengstorf/>*
Oversharing at *lengstorf.com <https

[2018-07-02 21:51] jlengstorf commented on #47
`utils/styles.js`?

I agree with 2px/4px here.

here unless you see a problem.

use now and build something to start us off in the design system.

This all looks great, @fk! Let me know how I can help.

*Jason Lengstorf*
Find me online: *Twitter <https://twitter.com/jlengstorf>* · GitHub
<https://github.com/jlengstorf> · *LinkedIn
<https://linkedin.com/in/jlengstorf/>*
Oversharing at *lengstorf.co

[2018-07-03 13:46] fk commented on #43
Here's a first look at a clickable prototype (not Lo-Fi because I had all the design items ready ;-)): https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=69%3A16&scaling=min-zoom

It currently allows to

* open the cart with no products added
* close cart
* open the (empty) "Sizing Chart & Care Instructions" modal
* add the "Purple Logo Tee", size "LG—Unisex", to the c

[2018-07-03 14:16] marisamorby commented on #22
Closing this out!

[2018-07-03 14:16] #22 closed

[2018-07-03 14:50] marisamorby opened #63 "Revenue information on Gatsby store product page"
@fk @jlengstorf

From our meeting this morning Flo mentioned that it may be a good idea to include a blurb on the store that any revenue we get from the swag store is going to be put back in the open source community.

My suggested wording is here:

[2018-07-04 15:37] jlengstorf commented on #63
We should probably be more clear than that. What I think is actually going to be true is that Gatsby Inc will take losses on swag due to covering international shipping fees. We're rounding prices to make the discount codes less complicated, so anything over the cost of production will help us cover a small portion of shipping costs.

Since we won't make any money, it feels misleading to say we'd

[2018-07-05 16:17] #41 closed

[2018-07-05 22:18] jlengstorf commented on #18
This isn't _entirely_ fixed, but I shrunk down all the images to be 1024x1024. We're still going to see more image transfer than necessary, but it should be much less ridiculous now. We should still look into a better solution for this, but I don't want to make this a blocker.

Rather than closing this, I'm going to move it to Phase 2.

[2018-07-05 22:19] jlengstorf commented on #26
I can't find any way to update Shopify error messages, so I'm not sure there's much I can do here.

[2018-07-05 22:19] #26 closed

[2018-07-05 22:52] jlengstorf opened #65 "Add favicons to the store"
Let's use <https://realfavicongenerator.net> for this. Implementation [on marisamorby.com](https://github.com/jlengstorf/marisamorby.com/blob/master/src/components/shared/Layout.js#L40-L47) can serve as an example here.

[2018-07-05 22:53] jlengstorf commented on #30
I can't find anywhere to edit the order confirmation screen in Shopify. Unless someone wants to take this on, I'm going to close it.

[2018-07-05 22:53] #30 closed

[2018-07-06 00:59] jjprevite opened #66 "No Middle Initial on Checkout Form?"
Hi! 👋🏼

I tried to make a purchase on the store. I selected GPay - it selected my credit card. Then I selected "Use a different billing address". In the field, I double-checked and have everything correct, except for the name. On my credit card, it is listed as FirstName MI LastName. However, the form does not have a section for MI and because of this, it threw it an error "There was an error proc

[2018-07-06 10:45] sedubois opened #67 "How to change to Passport?"
This is super cool. I would love to see how to switch to Passport.js instead of Auth0. Auth0 is quite expensive above 5000 users, and why pay if Passport.js offers what's needed for a simple authentication flow?

We currently have a Rails app where we pay nothing for user authentication, so I don't really see why we would switch to Auth0.

For the rest, this web app looks pretty much like what we

[2018-07-06 12:42] fk commented on #43
I just added another clickable prototype: https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=121%3A491&scaling=scale-down

This one does not open the cart when a product is added, but instead shows a "bottom sheet"-like info-panel. I'm not super happy with the design of either of the two "info-panel" variants, but they're good enough to convey the basic idea.

This pro

[2018-07-06 12:46] fk commented on #43
For those who are following along but don't want to click through, here's a couple of screenshots:

![image](https://user-images.githubusercontent.com/21834/42379468-0878735c-812b-11e8-8180-df951bd29c99.png)

![image](https://user-images.githubusercontent.com/21834/42379442-f632ff00-812a-11e8-8f65-b997f3793b35.png)

Alternative "Bottom sheet"-like info-panel shown when a product is added to the ca

[2018-07-06 13:55] fk commented on #63
Here's a first attempt at a "info" section in the footer with Jason's suggested copy, plus…some stuff ;-) around:

![desktop hd](https://user-images.githubusercontent.com/21834/42382519-d68acae8-8134-11e8-8ef7-ee04fb883608.png)

[2018-07-06 14:46] marisamorby commented on #63
Love the "About the Gatsby Store" section. I don't think we should mention that Gatsby is taking a loss on this since we're not sure that it's true, and also I don't think that as a business we want to discuss losses with the public. I'll let @jlengstorf make final approval on that though.

[2018-07-06 14:57] fk commented on #44
First shot at profile—mobile only for now: https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=143%3A995&scaling=min-zoom

* decided to not do "pills" for GitHub issue labels as they require more space
* tried various hover states, but quite undecided still…I had better days 😁; FWIW I kinda like the orange background hover state for GitHub issue labels as it's a bit fri

[2018-07-06 16:00] marisamorby opened #68 "Review source code for dashboard and store and list open questions"
@fk

On the call today you mentioned that you want to take a look at the way @jlengstorf implemented the design system and structure of the site.

Please list open questions in this PR and then you can decide if you want to have a meeting to discuss questions on Tuesday.

[2018-07-08 17:30] jjprevite commented on #66
After taking a look at how the Gatsby store is built, I realize this is may be an issue with Shopify's SDK and not necessarily Gatsby Store. Going to look at little deeper before closing this issue.

[2018-07-09 14:41] fk commented on #68
I went through the source code and am happy to report no issues in terms of "where to change/add stuff".

I also started breaking down the design update/implementation adjustments into tasks and will add issues for that now. I think that this will serve us better than a "internal" meeting because it allows other people to chime in/be pinged and asked for feedback.

[2018-07-09 14:41] #68 closed

[2018-07-09 14:43] fk opened #69 "Design system: Decide wether we want to use typography.js or not"
I'm unsure wether `rem`-based units for type serve us well in terms of "universal components"; I don't know if the latter is in scope of the design system we want to kick off here.

/cc @KyleAMathews @kkemple

[2018-07-09 14:50] fk opened #70 "Design system: Update/expand color palette"
Designs/mocks use the colors from gatsbyjs.org, current palette is a little off.

[2018-07-09 14:50] fk opened #71 "Update Header component"
* [x] adjust height, background color, border
* [x] add and show "product" name ("Store") next to Gatsby monogram
* [x] add and show "Gatsby" wordmark in between monogram and product name for larger screens
* [x] remove navigation items ("Swag Store" and "Dashboard")
* [x] update "log in" button: GitHub icon + "Log in with GitHub"
* [x] update button appearance (names TBD):
  * add `buttons.small`

[2018-07-09 14:51] fk opened #72 "Adjust user profile navigation component + add dropdown"
* [x] adjust profile image styles
* [x] add caret indicating dropdown
* [x] implement dropdown and styles for its components
  * add `dropdown header` ("Signed in as…") / support freeform text in dropdown
  * add `divider`
  * add `dropdown item`
* as seen in https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=11%3A53&scaling=min-zoom and https://www.figma.com/proto/gc7

[2018-07-09 14:52] fk opened #73 "Update cart component"
* [x] adjust design
* [x] add "empty state" (sad cart illustration + "Your cart is sad" copy)
* [x] add "added to cart" component
* [x] add "continue shopping" link below "Check Out" button
* [x] add close button next to "Your Cart" headline
* [x] update existing components to fit design

![image](https://user-images.githubusercontent.com/21834/42458485-416cf860-839a-11e8-8cc7-fcd9ea839e4b.png)

!

[2018-07-09 14:52] fk opened #74 "Add "About the Gatsby Store" section"
![image](https://user-images.githubusercontent.com/21834/42458710-911119b4-839a-11e8-999f-f2681de43f6d.png)

[2018-07-09 14:52] fk opened #75 "Add CTA "Already contributed to Gatsby?…"
…Claim your personal coupon code and get free swag by logging in with your GitHub account above!" pointing to the "Log in" button, as seen in https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=1%3A2&scaling=min-zoom and https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=28%3A1&scaling=min-zoom

![image](https://user-images.githubusercontent

[2018-07-09 14:53] fk opened #76 "Update user profile design"
* [x] form input style
* [x] form label style
* [x] checkbox style
* [x] button style
* [x] GitHub issue label style
* [x] various typography
* as seen in https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=143%3A995&scaling=min-zoom and https://www.figma.com/proto/gc7Tibfw1XuJ92vQxyfhQ7gm/store.gatsbyjs.org?node-id=146%3A2&scaling=min-zoom

![image](https://user-images

[2018-07-09 14:53] fk opened #77 "Update product component"
* [x] thumbnail button style
* [x] `<select>` styles
* [x] headline and price styles

![image](https://user-images.githubusercontent.com/21834/42459098-729db414-839b-11e8-8917-4c34a22144b3.png)

[2018-07-09 14:53] fk opened #78 "Adjust initially displayed product image"
For visual consistency, initially we want to show the "plain" product shot:

![image](https://user-images.githubusercontent.com/21834/42450676-41ab2118-8385-11e8-8091-16b5f8389008.png)

I guess this is solved by changing the order or setting the "primary product image" somewhere in Shopify; please help @marisamorby / @jlengstorf

[2018-07-09 15:18] fk opened #79 "Prevent UI from "jumping" when switching images"
The various images for "Black Socks" and "Purple Logo Tee" currently do have different sizes which causes the UI to "jump" when switching images. To prevent this, we could

* unify product image sizes
* center big images in a fixed height container

![image](https://user-images.githubusercontent.com/21834/42460369-f8e3bae4-839d-11e8-8e76-9a805ea98592.png)

/cc @marisamorby @jlengstorf

[2018-07-09 15:20] fk commented on #77
@jlengstorf Are you OK with visually hiding the `<select>` and <`input type="number">` labels (while making sure they're still accessible for screen readers)?

[2018-07-09 15:22] fk opened #80 "Add legal info"
As I understand we currently only have a placeholder for this content:

![image](https://user-images.githubusercontent.com/21834/42459702-85f18918-839c-11e8-98c1-13b7060659a0.png)

I'm wondering how that information will look like and if we need to add pages (and a design) for this content.

/cc @marisamorby @jlengstorf

[2018-07-09 15:24] fk commented on #43
@marisamorby Can be closed?

[2018-07-09 15:30] fk commented on #36
Wondering where to put this information:

* We could display the FAQ in a modal similar to the "Size chart/caring information" modal.
* We could add a link to open this modal (or the "FAQ" page) next to the link opening the "Size chart/care instructions" modal.
* We could add a link in the footer that contains the legal information (also see #80).

[2018-07-09 15:36] fk commented on #44
In last Friday's meeting with @marisamorby and @jlengstorf we identified that we still need to work on

* improving the "discount code" "card": We want to try adding a couple of stars/sparkles or the "Gatsby Atom"
![image](https://user-images.githubusercontent.com/21834/42460519-5e06addc-839e-11e8-8d31-f7306ad530f0.png) to the background of the card.
* ensuring that both discount code and "Issues

[2018-07-09 15:37] fk commented on #44
I'll provide an updated design for the "discount code" card later today.

[2018-07-09 19:13] KyleAMathews commented on #69
Want to add tight integration between typography.js & styled-systems soon which will be nice as can use their `p` spacing thing. Though Typography.js already abstracts away from `rem` units with its `rhythm` unit.

[2018-07-09 20:35] jlengstorf commented on #77
I think that should be fine, as long as it's accessible.

[2018-07-09 20:36] jlengstorf commented on #79
This can be handled through Shopify (I actually thought I'd already done this). Basically I've been using their tools to crop all images to 1024x1024.

[2018-07-09 20:39] jlengstorf commented on #68
This is great, @fk! Thanks!

[2018-07-11 10:23] fk opened #82 "GitHub issue label links in dashboard point to `api.github.com/repos/gatsbyjs/gatsby/labels/…`"
![image](https://user-images.githubusercontent.com/21834/42565891-090cf044-8505-11e8-90d3-1f4c20c8ab07.png)

[2018-07-11 14:45] fk commented on #79
You did, seeing it now on localhost:

![image](https://user-images.githubusercontent.com/21834/42580020-d640a802-8529-11e8-9732-cc4af30adf5b.png)

[2018-07-11 15:08] jlengstorf commented on #79
Just rebuilt the store on Netlify and it looks right now. I'm going to trigger a small change in Shopify to see if there's an issue with webhooks or if this was a fluke.

[2018-07-11 15:49] fk commented on #79
Looking better now: https://store.gatsbyjs.org/ — Just one of the sock images and the one with Kyle and Shannon are off.

[2018-07-11 16:43] #71 closed

[2018-07-11 16:43] #72 closed

[2018-07-11 17:14] marisamorby commented on #43
Yes, we can close this!

[2018-07-11 17:14] #43 closed

[2018-07-11 17:16] fk commented on #43
🎉 😉

[2018-07-11 17:22] marisamorby commented on #79
I vote to remove the cropped sock image, if that's okay with everyone. I
don't think that it properly represents the color of the socks anyway. It's
so weird that I can't get a shot of the socks that doesn't turn the heel
and toe into a blue-ish purple.

On Wed, Jul 11, 2018 at 8:49 AM Florian Kissling <notifications@github.com>
wrote:

--
Marisa Morby

marisamorby.com | me@marisamorby.com

Produc

[2018-07-11 19:58] jlengstorf commented on #79
Shopify webhooks seem to send the wrong image sizes. I'll look into this, but in the meantime we should probably preprocess out images.

[2018-07-11 23:34] jlengstorf commented on #24
This should be closed by #83

[2018-07-12 10:33] #75 closed

[2018-07-12 10:33] #76 closed

[2018-07-12 10:51] fk commented on #82
Hm, not seeing this anymore…whatever happened when I took that screenshot. 🤷‍♂️ 😆

[2018-07-12 10:51] #82 closed

[2018-07-12 10:53] fk commented on #78
Looking good, closing:

![image](https://user-images.githubusercontent.com/21834/42629081-81e1951a-85d2-11e8-93d6-7c3dd1ce0670.png)

[2018-07-12 10:53] #78 closed

[2018-07-12 10:58] fk commented on #79
@marisamorby

don't think that it properly represents the color of the socks anyway. It's
so weird that I can't get a shot of the socks that doesn't turn the heel
and toe into a blue-ish purple.

👍 We have a similar problem with the "real life" shot of the "Purple Logo Tee":

![image](https://user-images.githubusercontent.com/21834/42629227-f942444c-85d2-11e8-8ee3-cc0d4a38839b.png)

That aside, no

[2018-07-12 10:58] #79 closed

[2018-07-12 14:52] fk opened #84 "Add "Futura PT" webfont"
Currently Futura PT as referenced in https://github.com/gatsbyjs/store.gatsbyjs.org/blob/7708ffdfa7a1b805aa5cf7d2257067a5b2c22977/src/utils/styles.js#L65 is only seen by people who have the font installed locally.

We got a license for gatsbyjs.org, and we're using it for next.gatsbyjs.org, so I assume using it on another subdomain should be fine.

[2018-07-12 17:17] jlengstorf commented on #31
This was closed by #64

[2018-07-12 17:17] #31 closed

[2018-07-12 17:19] jlengstorf commented on #84
Yep, same domain should be fine as far as I can understand the license text.

[2018-07-12 17:19] #24 closed

[2018-07-12 17:29] jlengstorf opened #85 "Update discount code display component"
This is a child issue of #44 so we track only the remaining work.

<img width="643" alt="screen shot 2018-07-12 at 10 27 30 am" src="https://user-images.githubusercontent.com/163561/42649312-3adad8a2-85be-11e8-9830-8d55d0ba81e3.png">

We want to improve the discount code display with a background image or something else to make it look more stylish. @fk has great ideas here, so we’ll let him run w

[2018-07-12 17:30] jlengstorf commented on #44
The majority of this is done, so I've opened #85 to track remaining work and will close this one.

[2018-07-12 17:30] #44 closed

[2018-07-12 18:16] jlengstorf commented on #79
@fk @marisamorby I changed the photo to be more color accurate, but I can't seem to get the Shopify cache to clear. Will investigate. Which sock image do you want removed? Can you screenshot?

[2018-07-12 18:24] jlengstorf commented on #80
Here's what I think we need:

- GDPR disclosure page explaining how we use information (e.g. Shopify customer creation, checking GitHub history, adding to our mailing list if you opt in).
    - @marisamorby do we need this? We don't store any data (that's all handled by GitHub/Shopify/MailChimp/Auth0).
- link to the GitHub repo for the store
- (once it's published) a link to the tutorial for build

[2018-07-12 18:30] jlengstorf commented on #66
Hey, @jjprevite! I actually think the problem is that we haven't enabled credit card payments (the store isn't officially open yet).

The store is still in test mode, but doesn't seem to tell anyone that. 😅

I'm going to close this, but we will pay attention once we enable credit card payments.

[2018-07-12 18:30] #66 closed

[2018-07-12 18:33] jlengstorf commented on #67
Hi, @sedubois! I originally planned to use passport for this, but ran into challenges with passing JWT tokens between the store client and our back-end server. I want to dig into this later, but for now I don't have a ready answer for how you would do that.

(If you tackle this, I'd be happy to help you write a tutorial on how to do it!)

I'm going to close this for now, but stay tuned for updates

[2018-07-12 18:33] #67 closed

[2018-07-12 19:13] fk commented on #73
@jlengstorf Yay! I just added #86 which contains a (meh) placeholder for the message. Not too happy with the stuff I did today, but it's getting there.

[2018-07-13 06:05] marisamorby commented on #47
@jlengstorf and @fk

Thinking I should move this over either to an RFC or Google doc (Google doc is better for commenting collaboration) so that this can be an ongoing. Is everyone okay with it being moved, and which method (RFC or Google Doc) do you prefer?

[2018-07-13 14:10] fk opened #87 "Show alternating "Product added to cart" message"
After a product has been added to the cart, we currently open the cart to show its updated content(s).

In https://github.com/gatsbyjs/store.gatsbyjs.org/issues/46#issuecomment-401064190 (and following) we discussed showing an alternating "Added to cart" message:

* "Excellent Choice!"
* "That's going to look so good on you!"
* "We can't wait to see this on your Instagram."
* "Purple is your color

[2018-07-13 14:12] fk commented on #73
@jlengstorf I just moved the implementation of the alternating "added to cart" message to #87 and will remove it from the issue description here now.

[2018-07-13 20:21] jlengstorf commented on #47
Tagging @calcsam and @kkemple for opinions on this. Ultimately the design system is going to live in Storybook, right? How should we track/evolve it in the meantime?

[2018-07-13 20:21] jlengstorf commented on #70
Does #86 fix this?

[2018-07-13 21:08] fk commented on #70
Yes. But: Lots to do still in terms of "design system"…😉

[2018-07-13 21:38] #65 closed

[2018-07-13 21:38] #73 closed

[2018-07-13 21:38] #63 closed

[2018-07-13 21:38] #70 closed

[2018-07-13 21:38] #74 closed

[2018-07-13 21:38] #77 closed

[2018-07-13 21:38] #84 closed

[2018-07-13 22:21] jlengstorf opened #88 "Color "lilac" is too low-contrast for text"
I check the a11y panel in Chrome, and it looks like `colors.lilac` is too light to pass a11y guidelines.

Let's darken it up a bit to make sure everyone can read!

<img width="255" alt="screen shot 2018-07-13 at 3 16 48 pm" src="https://user-images.githubusercontent.com/163561/42716433-58fe729c-86b0-11e8-8080-874cd6765d09.png">

[2018-07-13 22:22] jlengstorf commented on #80
Closed by #86

[2018-07-13 22:22] #80 closed

[2018-07-13 22:23] jlengstorf commented on #15
Closing as either a duplicate of #85 or something that's already been handled.

[2018-07-13 22:23] #15 closed

[2018-07-13 22:30] #17 closed

[2018-07-14 20:10] jlengstorf commented on #69
This seems like a broader question than the store. Maybe we can set up a meeting to discuss Gatsby's design system and figure out how we want to approach that? I know @kkemple has made some progress here — maybe we should consider putting it into its own repo or figuring out a "Gatsby public sites" monorepo pattern for the www/store/dashboards/design system/etc.?

Probably worth a dedicated discus

[2018-07-14 20:12] jlengstorf opened #89 "Create a separate page for sizing/care instructions"
The modal is great, but it presents some issues on mobile and also prevents people from linking to the content, so let's put that content on its own page.

Steps to complete this task:

- [ ] Add a new page to the site
- [ ] Add the content from the modal to the new page
- [ ] Swap out modal links to for links to the new page
- [ ] Remove any unused code and/or dependencies from the modal

[2018-07-14 20:15] jlengstorf commented on #36
This should probably be a page/modal combo like the size/care info. See #89 for details on the pattern I think we should adopt for this.

I need to write this content. Wondering if we should add Markdown support, or if that's overkill. 😕

[2018-07-16 00:30] jlengstorf commented on #20
This is half-done now. @fk added a close icon, but we haven't added the "click anywhere outside the cart to close" functionality.

Moving this to Phase 2 because it's not a blocker.

[2018-07-16 15:39] kkemple commented on #69
Yeah, this raises some interesting questions, good news for us is we don't really need mobile support (yet?...) and so using a web based measurement system is fine.

Does styled-system work with emotion as well as styled-components? Because if so it might not matter about web vs native for long because of this PR:

https://github.com/emotion-js/emotion/pull/759

[2018-07-16 17:06] nitin42 commented on #69
Yes, styled-system works with emotion!

According to their docs,

[2018-07-16 19:06] KyleAMathews opened #90 "Add Fullstory to view errors & review UX of using site"
https://www.fullstory.com/

I _believe_ you can just copy the config from www https://github.com/gatsbyjs/gatsby/blob/62d7982c4313c995f8893e93b788a846ac917e4e/www/gatsby-config.js

We could either add the same site ID to the store or create a separate site https://help.fullstory.com/using/multiple-sites I'd lean towards the latter but you can make the decision. Lemme know if you need permissions f

[2018-07-16 22:54] #54 closed

[2018-07-17 05:11] #56 closed

[2018-07-18 14:47] #88 closed

[2018-07-18 14:54] fk commented on #85
<img width="660" alt="bildschirmfoto 2018-07-18 um 16 54 01" src="https://user-images.githubusercontent.com/21834/42889639-362556f6-8aab-11e8-87ca-922b980cb435.png">

[2018-07-18 14:58] lukeocodes opened #93 "localStorage for access tokens from Auth0"
Hey guys, since I developed the Gatsby guide I've been updating it and the React guidance/quickstarts to remove the use of localStorage. The fear is that XSS attacks can potentially be used to farm access tokens out of localStorage.

Persistent token based authentication between browsing sessions can be achieved by reusing the SSO session on the authorization server.

We have a method `checkSessio

[2018-07-18 17:06] jlengstorf commented on #93
Thanks, @lukeoliff!

[2018-07-18 17:08] jlengstorf commented on #85
![amazing](https://media.giphy.com/media/3o72F7YT6s0EMFI0Za/giphy.gif)

I love this.

[2018-07-18 18:52] marisamorby opened #94 "Create store FAQ in the README"
We're getting several repeat questions from contributors who're having a few issues with ordering on the store.

**Current FAQs**

- Why does it say I'm not eligible when I enter the discount code?
    - Try opening the store in an incognito window and then check out
    - When checking out, make sure you're using the same email that's listed on your GitHub account

- Why can't I get the store to

[2018-07-18 19:21] jlengstorf commented on #94
@marisamorby Maybe a fast and easy way to address this would be to add these questions to the [README](https://github.com/gatsbyjs/store.gatsbyjs.org/blob/master/README.md)? That way we can link to them, it's easy to update, and we don't have to design new pages. Once we've had some time to see how large this list becomes, we can look at moving it to a page on the site.

What do you think? If you'

[2018-07-18 20:30] marcobiedermann opened #95 "Discount Network Error"
It seams like your API for the discount is not working at the moment:

There was an error loading your discount code.
Here’s what came back from the server:

[code]

![image](https://user-images.githubusercontent.com/5244986/42905987-f84a6f22-8ad9-11e8-912f-744f6f0b6b9e.png)

[2018-07-18 22:18] marisamorby commented on #94
Yeah that seems like a good / easy first step. I can do that!

On Wed, Jul 18, 2018 at 12:21 PM Jason Lengstorf <notifications@github.com>
wrote:

--
Marisa Morby

marisamorby.com | me@marisamorby.com

Product Management | UX Research

[2018-07-19 06:50] marcobiedermann commented on #95
Resolved in the meanwhile!

[2018-07-19 06:50] #95 closed

[2018-07-19 17:20] jlengstorf commented on #95
Hmmm... @thebigredgeek maybe we should look at migrating to our own infra sooner rather than later.

[2018-07-19 22:01] #85 closed

[2018-07-20 00:36] jlengstorf opened #97 "Upgrade Now account and run multiple instances to decrease response time"
- [ ] Move the API to the Gatsby Zeit team
- [x] Figure out how to improve availability/decrease response time (multiple instances, I think)
- [ ] Maybe use the handy-dandy new Zeit for GitHub plugin 😍

[2018-07-20 00:36] jlengstorf commented on #95
After discussion with the team, we're going to beef up our server to avoid downtime like this. Opening #97 to track this.

[2018-07-20 06:44] marcobiedermann commented on #95
@jlengstorf Thanks for taking care of it

[2018-07-24 01:21] jlengstorf commented on #97
For now just force-scaled to 3 instances. That should help, I think.

[2018-07-24 14:53] giraffesyo opened #98 "No title specified for sticker sizes"
There is no title specified in the sticker pack thus rendering "Default Title". Seems like this data is grabbed from Shopify.

[![Default Title][1]][1]

  [1]: https://i.stack.imgur.com/35r6F.png

[2018-07-25 21:20] thebigredgeek opened #99 "[Swag] Posters"
I am planning on getting a Gatsby poster for my home office.  This might be an interesting piece of swag for the store, too.  Thoughts?

[2018-07-25 21:38] jlengstorf commented on #99
I love this idea, @thebigredgeek — I guess it'll depend on who owns the rights to artwork and whether or not anyone in the community wants a brand poster. I haven't seen this before, but that doesn't mean no one would like it. 😄

I've added this to the list of swag ideas so we review it when the next swag project gets prioritized.

[2018-07-25 22:31] marisamorby opened #100 "Review missing SKUs in Shopify"
![unnamed.png](https://images.zenhubusercontent.com/5b10124df58c642fb89c9de1/c104b9f3-38e2-4bfc-aedf-e50ecf5e9689)

[2018-07-25 22:40] marisamorby opened #101 "Add auto message and return info and policy in Shopify"
Include an automated message in Shopify so that when people email us, they know we've received the message:

[2018-07-25 22:51] marisamorby commented on #100
Sent email to Julia with SKU information. I'm able to see all SKUs.

[2018-07-25 23:12] marisamorby opened #102 "Include material description and fit (regular or slim) under Care Instructions Link"
To help people get the right size and fit, let's add additional details to the sizing/care instructions page. This would be great to do as part of #89, or as a follow-up PR.

Content for the "Material & Fit" section:

---

## T-Shirt Materials & Fit

To help you find the right size and fit, here are some additional details about our swag.

### Dark Deploy T-Shirt

- Material: 50% polyester, 25% co

[2018-07-26 01:16] jlengstorf commented on #101
This is blocked on:

- [ ] Haley getting us the return info for Threadbird
- [ ] Writing a return policy for Gatsby swag

My thoughts on this are that we should allow returns on any swag as long as it hasn't been worn. @marisamorby Are you able to look at a few other companies' return policies to see if there are any gotchas we should include?

[2018-07-26 21:16] marisamorby commented on #100
SKUs are showing up now, so it was possibly an order timing issue.

[2018-07-26 21:16] #100 closed

[2018-07-26 22:10] jlengstorf opened #103 "Write store announcement blog post"
What the swag store is and why.

This is a very short (~500 words) post. There will be a follow-up from @marisamorby on the UX thinking, and I'll be doing a more in-depth "how to build an ecommerce site with Gatsby" tutorial later on as well.

[2018-07-30 23:24] jlengstorf commented on #103
This is a duplicate of #55 because I can’t read, apparently. 😅

[2018-07-30 23:24] #103 closed

[2018-07-31 02:24] #97 closed

[2018-08-01 00:38] colbyfayock commented on #82
@fk I'm seeing the same thing on https://store.gatsbyjs.org/account/dashboard

https://api.github.com/repos/gatsbyjs/gatsby/labels/%F0%9F%93%8D%20status:%20help%20wanted

![image](https://user-images.githubusercontent.com/1045274/43494579-88589536-9501-11e8-97ee-b7add2dc3f5d.png)

[2018-08-01 16:14] marisamorby opened #104 "[Swag] Pins"
Option to get enamel pins as swag. Saw these at donut.js

My thought is that this would make a good limited run of swag for a special event.

Pin Pros Plus: https://www.pinprosplus.com/--

[2018-08-01 22:19] marisamorby opened #105 "[Swag] Gatsby Sunglasses"
Swag idea: Black sunglasses with Gatsby purple on the side. Could be a good option for a limited run of swag.

@shannonbux: This is largely just a ploy to get a picture of Watson wearing sunglasses. Just thought you should know. :)

[2018-08-02 14:24] merelinguist opened #106 "Stuck on callback page"
Recently made my first Gatsby PR and trying to use the login button, but I don’t get redirected past the callback page.

[2018-08-02 15:32] jlengstorf commented on #106
Hey, Dylan! Are you seeing any errors in the console? What browser are you using? We've seen some weirdness with Safari (#93 should fix this), so if that's what you're using maybe give another browser a shot until we have the chance to patch that up.

Thanks!

[2018-08-02 16:55] merelinguist commented on #106
Hey. I’m using Firefox on iOS (also tried Safari). I actually can’t get to a desktop  until next week, but I’ll try again there and update you :). Thanks!

[2018-08-02 17:15] jlengstorf commented on #106
Sorry about that! I'll see if I can clear some time to fix the Safari issue sooner. (I think it has to do with the localStorage usage, which I _think_ is weird on iOS.)

[2018-08-02 20:50] lindaleebumblebee commented on #104
I like this idea to gamify the contributor experience. So, we could have 2-3 different designs for 'rockstar contributors' that make a certain amount of Gatsby contributions. Limited to certain level of contributors only!

[2018-08-02 22:46] merelinguist commented on #106
Awesome 😎!

[2018-08-02 22:55] shannonbux commented on #105
@marisamorby hahaha Watson can probably be persuaded to do that for a treat
;D

On Wed, Aug 1, 2018 at 4:19 PM, Marisa <notifications@github.com> wrote:

[2018-08-03 01:24] KyleAMathews opened #107 "Don't require building gatsby-source-shopify-storefront"
It took me a little while to figure out why the site wasn't working. We could fix this by adding installation instructions perhaps or just writing vanilla node code that'll work w/o compiling.

[2018-08-03 15:10] kkemple opened #108 "Add redirect for shop.gatsbyjs.org to store.gatsbyjs.org"
I just tried to go to store via `shop.gatsbyjs.org` instead of using the proper subdomain `store` and was greeted with DNS not found error. I thought store was down, had to go repo and follow link there then compare to realize what I did. Others could experience this as well I think. Or maybe I'm just opening this to not feel like a dummy 😅.

[2018-08-03 15:12] kkemple opened #109 "No links to store from .org or .com site"
Was curious if we just don't want them, or is just low priority or something.

[2018-08-03 16:17] kkemple opened #110 "Disable sold out products"
Currently users can pick any amount of any product and then when going to checkout are told when things are out of stock.

Could be a nice UX improvement to prevent adding sold out item to cart.

[2018-08-04 23:01] angeloashmore commented on #107
[`gatsby-source-shopify`](https://github.com/angeloashmore/gatsby-source-shopify) is available on NPM. It should provide the same data as `gatsby-source-shopify`, plus more.

[2018-08-06 09:08] fk commented on #109
👍 Also thought we might want to put Twitter, GitHub and Discord links in the footer (then forgot about it :/).

[2018-08-06 15:53] lindaleebumblebee commented on #109
For the .com site, I recommend just the Twitter (and maybe github) links.

[2018-08-09 18:26] #55 closed

[2018-08-09 21:09] jsjoeio opened #113 "Contributors discount not working?"
### Description
I contributed 2x to Gatsby and would like to claim my free swag. However, when I sign in with GitHub then continue through Shopify to add coupon and complete purchase, I get the message:

###  Screenrecording:
![hw60myyvxz](https://user-images.githubusercontent.com/3806031/43925848-54227fd8-9bdd-11e8-8e1b-2dfb18d72218.gif)

### Other helpful information:
- Yes, I'm using the same e

[2018-08-11 02:57] jlengstorf commented on #113
Hey, @jsjoeio — it looks like there's a problem with Shopify's API not updating customer accounts after they've already ordered. I just manually updated your account, so this should work now. Let me know if it doesn't. I'm going to close this issue for now, though.

Thanks!

[2018-08-11 02:59] jlengstorf commented on #107
I did this because there wasn't a V2 branch of the plugin. Then I ended up writing a bunch of custom stuff to pull down images. Haven't had the chance to contribute this back up, but the goal is to get this into the original plugin again.

[2018-08-11 03:02] jlengstorf commented on #110
Agreed. I'm trying to get a second wave of store work prioritized to tackle stuff like this.

[2018-08-11 03:09] jlengstorf commented on #108
Hmm. I don't dislike the idea of adding a fallback redirect, but I wonder if that's worth it? I guess it's not hard to set up, so maybe we just do it?

[2018-08-11 05:10] crstnio opened #114 "VAT missing?"
I live in Europe and bought some swag in the store.

But the invoice is missing VAT, that is required for sales inside EU.

If the prices are inclusive VAT, it should be mentioned somewhere.

[2018-08-11 05:59] stlk commented on #106
I stumbled upon this issue too on Safari 11.1.2 (13605.3.8). It works fine on Firefox 61.0.1. Warning gets printed into console:
[code]
Not sure if I read the signs correctly but it looks like Auth0 client library returns `null`.

![screen shot 2018-08-11 at 07 50 56](https://user-images.githubusercontent.com/450975/43988755-6b41509e-9d3c-11e8-88c5-521764af2084.png)

[2018-08-11 14:41] jlengstorf commented on #106
Thanks, @stlk! This definitely seems like something that Safari doesn't like about our code.

@lukeoliff a while back you had mentioned opening a PR to close #93 — I believe that would address this as well. Have you had the chance to look into this?

[2018-08-11 17:56] kkemple commented on #108
How about we reopen if someone else experiences it. We just don't have a way of knowing short of them submitting an issue about it.

[2018-08-11 17:57] kkemple commented on #110
After v2 happy to jump in and help!

[2018-08-14 16:36] jlengstorf opened #115 "[Swag] Hats"
A good ball cap is a great piece of swag. I wear the hats I've gotten as swag all the time, so this seems like a good bet for useful swag.

A few styles I like:

- [OTTO 83-561](https://ottocap.com/cotton-twill-low-profile-pro-style-mesh-back-caps-2.html)
- [Legacy Old Favorite Trucker](http://www.legacy92.com/styleItemClick?mstyItmID=1531&styId=8&chID=1&clID=2&msclID=4&mcolID=11&colID=1)

A lot o

[2018-08-14 16:49] m-allanson commented on #115
👍 for the [Legacy Military Cadet](http://www.legacy92.com/Style?styId=54&chID=1&clID=2&msclID=6&mcolID=13&colID=1).

[2018-08-14 22:35] jlengstorf commented on #115
@m-allanson Are you employing that classic dry British humor right now, or do you really want us to try those hats out? I can order some samples if you like them.

[2018-08-14 22:52] m-allanson commented on #115
Haha I genuinely want one!

[2018-08-14 23:43] lindaleebumblebee commented on #115
I actually love the military style hat! I'll put it on the list of considerations.

[2018-08-15 01:27] jlengstorf opened #116 "[EPIC] Offer exclusive swag for different contribution levels"
### Who will own this?

Role            | Contributor(s)
--------------- | -------------------------------
AoR owner       | @jlengstorf
Domain owner    | @jlengstorf
Project manager | TBD
Tech lead       | @jlengstorf
Contributors    | @jlengstorf, @lindaleebumblebee, @marisamorby

### Summary

We want to create swag that's _only_ available for contributors who submit certain types of PRs.

For e

[2018-08-15 01:46] jlengstorf opened #117 "tier 2 swag: [design] Product detail pages"
As our inventory grows, it'll be nice to be able to link people directly to a particular product. This will also help with things like sizing guides, photos of community members wearing the swag, etc.

These pages will include:

- Larger images of the product
- Full description (previews are truncated)
- Sizing and care instructions
- Optional section for photos of contributors wearing/using the p

[2018-08-15 01:49] KyleAMathews commented on #117
Also that sweet sweet page transition speed.

[2018-08-15 09:09] kkemple commented on #116
I think pins or badges would be easy/cheap to make

[2018-08-15 15:06] jlengstorf commented on #116
Enamel pins would definitely be cool. We could almost do it like the scouts, where you would get different pins for different achievements, and if you got all of them you'd get something special.

I think our goal with the higher-effort stuff should be to make the swag higher value, too. Like maybe a high-quality travel mug, etc.

[2018-08-15 15:49] jlengstorf opened #118 "Add support for modifying quantities in the cart"
This isn't a dealbreaker, but it would be nice to allow people to modify quantities of items after they've been added to the cart. Currently, you need to remove the item and re-add it with an updated quantity.

[2018-08-15 16:51] lindaleebumblebee commented on #116
I agree on the enamel pins as they are easy to customize and they can look really cool. I like the scout idea....we could play with a vintage scout theme on the design. :)

[2018-08-16 00:03] jlengstorf commented on #116
Right now it seems like a test run would make sense. Maybe ~50 of each design, and we could try 2–4 "merit badge" ideas.

I have a few ideas for criteria. What about something like this:

1. **Bug Patrol** — submit 5 pull requests that close bug issues
2. **Teacher** — submit 5 improvements to the docs
3. **Show & Tell** — give a Gatsby talk or workshop at an event
4. **Storyteller** — write a Gat

[2018-08-16 00:30] #108 closed

[2018-08-20 21:55] jlengstorf opened #119 "Convert the custom API calls to use Prisma"
~~Let's move the back-end to Prisma so we've got a full GraphQL stack and can use Apollo for the dynamic front end (see #120).~~

~~Tagging @schickling to track progress.~~

After discussing Prisma in detail, it's not a good fit for our API because we don't have a database, and that's what Prisma is designed to manage.

Instead, we're standing up a serverless GraphQL endpoint in place of the REST

[2018-08-20 21:57] jlengstorf opened #120 "Convert the dynamic front-end of the store to Apollo"
Right now we're using hand-rolled async calls. We should be doing something better than that.

Let's migrate the front-end to apollo-client (which necessitates #119) to show off how well Gatsby and Apollo work together.

Tagging @jbaxleyiii and @hwillson for tracking.

[2018-08-22 06:57] Manoz commented on #106
Have the same issue on Chrome iOS. Looks like the website recognizes me but does not redirect me.

If I go back I’m not logged in even after refreshing the page.

http://imgur.com/rRL86C2

[2018-08-22 16:02] jlengstorf opened #121 "[Swag] Travel mugs"
I love the royal purple of this mug. https://www.fiftyfiftybottles.com/collections/bottles/products/12oz-354ml-fifty-fifty-bottle?variant=25073697669

Could also do white with a purple print.

[2018-08-22 17:46] jlengstorf commented on #40
Hey, @lindaleebumblebee — here are some hoodie ideas!

![hoodie-gray](https://user-images.githubusercontent.com/163561/44480644-9ed48380-a5f8-11e8-9dd1-dfc28dd74ce3.jpg)
![hoodie-purple](https://user-images.githubusercontent.com/163561/44480649-a136dd80-a5f8-11e8-9af7-6da8b706b715.jpg)

[2018-08-22 19:54] Dencraft commented on #40
Purple

[2018-08-22 19:55] timroes commented on #40
How about the dark grey one with the logo position of the purple one - ideally the logo in purple?

[2018-08-22 20:09] jakedohm commented on #40
Purple!

[2018-08-22 20:55] justinwhall commented on #40
Grey! I'm ok with the purple T. Much more than that and I can't stop thinking...

![Purple People Eater](https://i.giphy.com/media/eXUWJVDocWJO/giphy.webp)

[2018-08-22 20:55] starshaped commented on #40
I dig the purple 💜

[2018-08-22 22:07] richbachman commented on #40
Purple!

[2018-08-23 00:14] JonathanSpeek commented on #40
Grey color on the purple hoodie.

[2018-08-23 03:27] saiprasad2595 commented on #40
Purple is cute ❤️

[2018-08-23 03:52] shobhitchittora commented on #40
Purple Hoodie. 💚💚

[2018-08-23 15:40] virenb commented on #40
Purpleee

[2018-08-23 15:43] lesliecdubs commented on #40
I'm going to break convention here and say grey! Love the logo treatment on that one, too.

[2018-08-23 19:37] robotshateme commented on #40
Purple

[2018-08-24 17:56] jlengstorf opened #122 "[EPIC] Order new swag (hoodies etc)!"
### Who will own this?

|                 |       |
| --------------- | ----- |
| AoR owner       | @jlengstorf |
| Domain owner   | @jlengstorf |
| Project manager | @name |
| Tech lead       | @name |
| Contributors    | @lindaleebumblebee, @jlengstorf, @marisamorby, @fk |

### Summary

We need to add additional swag to our store. This is required for https://github.com/gatsbyjs/store.gatsbyjs.o

[2018-08-24 18:22] jlengstorf opened #123 "[EPIC] Swag Store UX Improvements"
### Who will own this?

Role            | Contributor(s)
--------------- | -------------------------------
AoR owner       | @jlengstorf
Domain owner    | @jlengstorf
Project manager | TBD
Tech lead       | @jlengstorf
Contributors    | @jlengstorf, @lindaleebumblebee, @marisamorby

### Summary

We have a lot of cleanup tasks for the swag store that need to be completed, as well as next steps (new

[2018-08-27 01:39] jlengstorf commented on #116
Another idea in this realm: time-boxed "sprints" where we run exclusive swag and have special swag for different levels of contribution.

The evergreen flow would be that we have e.g. hoodies for contributors who submit a given number of PRs, but we could introduce short-lived swag tiers for high-priority projects.

As an example, let's say we wanted to get all of our existing docs stubs written o

[2018-08-27 15:52] marisamorby commented on #116
I do like the idea of an evergreen flow of exclusive swag for very active contributors and/or limited runs of swag for help with high-priority projects. I'd start with the evergreen swag and see how it's received.

I do like the idea of starting with badges to see how the initial idea pans out with people and what the response is.

[2018-08-27 16:00] jlengstorf commented on #116
@marisamorby sounds good. We can do the evergreen setup first.

[2018-08-27 16:52] lightstrike opened #124 "Add better handling for out-of-stock items"
I hit this error when trying to add a SM Unisex Dark Deploy Tee:

![screenshot from 2018-08-27 09-50-17](https://user-images.githubusercontent.com/1368742/44672932-db302700-a9de-11e8-9a35-f90f6707c3f0.png)

Maybe it's out of stock?

[2018-08-27 20:01] calcsam commented on #116
Agree with @marisamorby -- love this idea, let's start with evergreen swag

[2018-08-27 22:56] AlMon commented on #40
Grey

[2018-08-27 23:12] jlengstorf commented on #40
Thanks, everyone!

The Twitter poll came back pretty close to 50/50, so we've decided we may as well do both. 😄

![Why not both?](https://media.giphy.com/media/3o85xIO33l7RlmLR4I/giphy.gif)

We'll be ordering this shortly, and will make a ruckus when they're available in the [swag store](https://store.gatsbyjs.org/)!

[2018-08-28 22:45] #94 closed

[2018-08-29 15:49] jlengstorf commented on #122
I've emailed for a quote on all the gear in the backlog (#38, #40, #51, #104, #115, #121). @lindaleebumblebee is copied on the email. We'll report back once we know how much we can reasonably produce right now.

[2018-08-30 15:27] coreyward commented on #124
Hey @lightstrike, I suspect you're right about it being out of stock. When I pull up the site the variant you selected isn't even an option:

![screen shot 2018-08-30 at 10 26 25 am](https://user-images.githubusercontent.com/81224/44861925-3d876280-ac3f-11e8-91f3-ef2d055e5506.png)

[2018-08-30 15:47] jlengstorf commented on #123
TODO: narrow scope of this, create follow-up epics for the work we're not going to do this time around.

[2018-08-30 17:05] jlengstorf commented on #124
@lightstrike Yeah, it looks like @coreyward is right. We've got an order in to get things back into stock, so sit tight. We're also about to start working on #123 to clean up the UX on the store, which should address this and other annoying bugs we've spotted since it first launched.

[2018-08-30 18:34] coreyward commented on #18
@jlengstorf Is there not a transformer to fetch a remote image (i.e., in GraphQL, something that allows using `gatsby-transformer-sharp` on a local image that was fetched from a remote URL specified in a node)?

[2018-08-30 19:02] jlengstorf commented on #18
@coreyward There is! We're using that for the shop images.

This issue is tracking the dynamic part of the store, which is adding items to the cart. That's done by calling the Shopify API, which returns data about the cart items, including its URL.

What we need to do is figure out how to map the URL returned by Shopify to the images generated by Gatsby.

My current assumption is that it'll work s

[2018-08-30 19:14] coreyward commented on #18
What about a `ProductImage` component that uses StaticQuery to assemble/maintain the map between product IDs and photos that adds a `src` prop to the child(ren)? Or it can accept a function as children or a render prop if preferred.

Example usage:

[code]

Where ProductImage is doing something like…

[code]

If that looks good I can take a stab at it.

[2018-08-30 19:17] jlengstorf commented on #18
Oh, nice. So you're thinking the `StaticQuery` would put together the list of all available products/images and `ProductImage` would run a `find` (or whatever) to pull out the Gatsby image?

Yeah, I think that would work way better than what I said. 😅

Thanks for jumping in! Let me know if I can help.

[2018-08-31 00:36] #18 closed

[2018-08-31 02:43] #23 closed

[2018-08-31 02:56] #20 closed

[2018-08-31 15:15] jlengstorf commented on #36
@marisamorby should we add this to the README FAQ section as a short-term solution?

[2018-08-31 16:49] jlengstorf commented on #19
I got [an answer on this](https://community.auth0.com/t/is-it-possible-to-transfer-an-app-to-a-new-tenant/12514/2) a while back. This doesn't really feel like a pressing need, so I'm going to deprioritize it.

[2018-08-31 21:05] jlengstorf opened #132 "[EPIC] Convert the store to use Prisma + Apollo — it’s GraphQL all the way down! 🐢"
To create a real-world implementation of how to use GraphQL all the way through a Gatsby app (both during the build and on the client side), we’re going to convert our API to use Prisma (#119) and our dynamic client app to use Apollo (#120).

This needs to be complete _at the absolute latest_ by October 31 so there's time to prep the presentation/demo about it.

[2018-08-31 21:08] marisamorby commented on #36
Closing this issue as a duplicate of Issue #94 Create Store FAQ in the README

[2018-08-31 21:08] #36 closed

[2018-09-04 21:05] merelinguist opened #133 "Customer information does not meet the requirements for the [code] discount code"
When trying to checkout with the discount code I received for Gatsby contributions, I receive the following error when choosing the shipping method:

![screenshot_2018-09-04 shipping method - gatsby store - checkout](https://user-images.githubusercontent.com/24858006/45057736-586a3480-b08e-11e8-8f03-03bb93bc2149.png)

[2018-09-04 21:38] jlengstorf commented on #133
@merelinguist Hey there! I took a look, and it appears we had a hiccup while creating your discount code. I just kicked it, and it _should_ work now. Give it a shot and, if it works, we'll close this.

Thanks!

[2018-09-04 21:51] merelinguist commented on #133
Super! That worked 💜

[2018-09-04 21:51] #133 closed

[2018-09-05 19:11] marisamorby commented on #101
@jlengstore I think that the auto-reply and return info email can say:

Hi there,

Thanks for getting in touch with Gatsby! We received your e-mail and will get back to you as soon as possible.

Have a question about a return or an exchange? Keep on reading for more info!

If there’s something wrong with your order (wrong size, wrong item, defective product, etc.), return it to us unworn and unwas

[2018-09-05 22:06] jlengstorf commented on #101
@marisamorby this looks great! Do you need any help adding this to the team email as an autoresponder?

[2018-09-05 23:37] jlengstorf commented on #51
The order for these is underway! Final designs posted below.

On a personal note, I'd like everyone to know that making custom pajama pants is pretty much the pinnacle of my career. Bury me in JAMstack Jammies.

## JAMstack Jammies

<img width="1156" alt="screen shot 2018-09-05 at 4 34 25 pm" src="https://user-images.githubusercontent.com/163561/45126720-9d8f7480-b129-11e8-815c-2135e83aae23.png">

[2018-09-05 23:44] jlengstorf commented on #121
Mockup of the bottle. The lid would be purple, though.

![mug-mockup](https://user-images.githubusercontent.com/163561/45126971-ebf14300-b12a-11e8-9ad3-0fb3b6ddf269.jpg)

[2018-09-05 23:56] jlengstorf commented on #115
Purple hat mockup:

<img width="339" alt="screen shot 2018-09-05 at 4 56 27 pm" src="https://user-images.githubusercontent.com/163561/45127332-a9306a80-b12c-11e8-96b8-b20a40efe9e0.png">

Grey hat mockup:

![grey-hat](https://user-images.githubusercontent.com/163561/45127177-ec3e0e00-b12b-11e8-8001-4a9fa8bcc52b.jpg)

[2018-09-06 20:52] marisamorby commented on #101
@jlengstorf
I'll take a look at it and if I have questions I'll reach out. I won't be able to get to this until next week though. If that's okay then I'll put this on my list for Monday!

[2018-09-06 21:09] jlengstorf commented on #101
Yeah, no rush on this at all. Thanks!

On Thu, Sep 6, 2018 at 1:52 PM Marisa <notifications@github.com> wrote:

--

*Jason Lengstorf*
Find me online: *Twitter <https://twitter.com/jlengstorf>* · GitHub
<https://github.com/jlengstorf> · *LinkedIn
<https://linkedin.com/in/jlengstorf/>*
Oversharing at *lengstorf.com <https://lengstorf.com/>*

[2018-09-07 15:05] mikelax opened #134 "Inconsistent OG Tags for store.gatsbyjs.org"
## Description

When viewing the gatsbyjs store through something that lints the page, ie. the Facebook Debugger the OG tags and thus rendered display are not correct. The current values are a mix of values from both the black t-shirt and socks. They should be more general and apply to a storefront, not a single item (that would make sense if each item had its own URL).

### Steps to reproduce

Cl

[2018-09-07 15:05] mikelax commented on #134
/cc @cometkim

[2018-09-07 15:45] jlengstorf commented on #134
Oh, whoops. Good catch, @mikelax! This is definitely a great first issue, and I'm available to help out if anyone wants to take this!

[2018-09-07 16:43] junhyukee commented on #134
Could this be done via Helmet? I would love to try and tackle this issue as my first issue!

[2018-09-07 18:21] cometkim commented on #134
@junhyukee I apologize for being intercepted your first issue.. :bowing_man:

[2018-09-07 18:32] junhyukee commented on #134
@cometkim LOL no worries!! I will find more to work on! 😄

[2018-09-07 18:32] mikelax commented on #134
oh nice @cometkim @junhyukee
This is something that definitely should be done through Helmet, perfect use of it.

[2018-09-07 19:15] fk commented on #117
Oh man, thanks for assigning this to me Jason (and getting this back on my radar)!
Totally missed out on this up to now. 🙏

Yay for this. Will take a good look at my backlog over the weekend and follow up!

[2018-09-07 19:20] #134 closed

[2018-09-10 07:47] alex-saunders commented on #87
@jlengstorf Is this issue free to take & beginner-worthy?

[2018-09-10 22:56] jlengstorf commented on #87
@alex-saunders It's free to take, yes! I _think_ it should be pretty beginner friendly as well.

This will have a few steps, so we could theoretically break it into pieces:

1. We need a component created and styled that looks the way @fk designed it in the screenshot above
2. We need a way to display that component _only_ when something has been added to the cart. This will be done by adding to t

[2018-09-11 00:34] garetmckinley commented on #51
I love these! I think it could also be cool to get a Louis Vuitton pattern with the gatsby logo in it in case you wanna feel boujee, but I don't have any clever names for it.

![image](https://user-images.githubusercontent.com/1624279/45331456-660d3780-b530-11e8-9080-f1fd9957f708.png)

[2018-09-11 10:00] mrhut10 commented on #51
Nice I need some of them!!!!

[2018-09-11 11:06] alex-saunders commented on #87
Hey @jlengstorf , thanks for the detailed reply!

I think this sounds like something I might be able to manage, would you be able to assign me to this issue and I'll have a crack at implementing it? I'll break the commits down into the steps you've outlined so that it's easier to review.

Cheers!

[2018-09-11 13:39] mikelax commented on #122
Pins and trucker hat 💯

![Meme](https://i.kym-cdn.com/photos/images/original/000/620/799/57a.jpg)

[2018-09-11 15:13] jlengstorf commented on #87
@alex-saunders it looks like I can't assign it to you since you're not part of the GatsbyJS org (yet), so I'll leave it assigned to me, but we'll both know it's actually yours. 😄

I've removed the help-seeking labels as well, so it's all yours!

[2018-09-11 15:18] alex-saunders commented on #87
No problem @jlengstorf , I'll get cracking!

[2018-09-12 00:01] #89 closed

[2018-09-12 00:01] #102 closed

[2018-09-12 21:59] jlengstorf commented on #110
Good call. Closing!

[2018-09-12 21:59] #110 closed

[2018-09-13 03:16] junhyukee opened #139 "Contributor's discount not working"
Getting the contributor's discount error, potentially due to entering my information a few weeks ago 😢.
![discounterror](https://user-images.githubusercontent.com/35748067/45465144-b9b28900-b6c8-11e8-9f9a-64b5dd5f5516.png)

[2018-09-18 00:14] jlengstorf opened #140 "Check for existing Shopify customers and update on login if contributor is missing"
The store API attempts to create a customer in Shopify if none exists, but it does _not_ attempt to update customers with the `contributor` tag to allow them to claim the discount code if the customer already exists.

This has led to several issues (e.g #139), and will become more of an issue as the dashboard becomes more useful outside of claiming the discount. Let's fix that as part of #132.

[2018-09-18 00:15] jlengstorf commented on #139
Hey, @junhyukee — that's what happened. Sorry about that! I've created #140 to track fixing this bug. In the meantime, I updated your account and you should be able to claim the discount now.

Thank you!

[2018-09-18 00:15] #139 closed

[2018-09-20 11:59] alex-saunders commented on #87
hey @jlengstorf , just to keep you updated; I'm still working on this, I've just been super busy with work this past week!

[2018-09-20 17:06] jlengstorf opened #141 "Add meta tags to support social media cards"
Per @mikelax in #135:

This is a good idea, and one we should put in place.

To keep things a little more grouped, I'd prefer to keep the metadata in `gatsby-config.js` and query it using `StaticQuery`. For an example of this, see @marisamorby's site: https://github.com/jlengstorf/marisamorby.com/tree/master/src/components/SEO

These components add all the SEO metadata for her site, and use a `Sta

[2018-09-20 23:02] jlengstorf commented on #87
Sounds good. Thanks, @alex-saunders!

[2018-09-25 01:01] #141 closed

[2018-09-25 01:03] jlengstorf opened #143 "Share your Gatsby swag photos!"
We’d love to see your swag out in the world: on you, your pets, your kids, your friends, your friends’ pets, your friends’ pets’ friend’s kids, or really wherever you want to put the swag.

We’ll choose some of these images to feature in the store or to use when we’re promoting the swag that appears in the photo. We _won’t_ use these photos for anything else without getting your permission first.

[2018-09-25 01:35] mikelax commented on #143
To render optimally on all social sites, the submitted image should be at least 1200 pixels.
Aspect ratio can be either square, 1200x1200
or 1.91:1 ie. 1200x675

[2018-09-25 13:27] SaraVieira commented on #143
![img_20180731_173001](https://user-images.githubusercontent.com/1051509/46017191-2f5e2200-c0d7-11e8-862a-6283a217a132.jpg)
![img_20180731_173005](https://user-images.githubusercontent.com/1051509/46017294-6cc2af80-c0d7-11e8-9d40-d7fba867f96b.jpg)

His name is Rayman

[2018-09-25 20:55] jlengstorf commented on #143
![SO FLUFFY!](https://media.giphy.com/media/Cbx4j02mlj320/giphy.gif)

[2018-09-25 21:06] SaraVieira commented on #143
I love him

[2018-09-26 13:33] mikelax commented on #143
hey @jlengstorf maybe this would get a bit of movement if the request was sent out from the twitter handle with a call looking for additional entries?

[2018-10-02 12:19] mikelax opened #144 "[chore] Update react-icons lib to latest version"
# Overview
Update [react-icons](https://github.com/react-icons/react-icons) to latest version, 3.x.
This will require a small refactor from migrating from v2 to v3.

[2018-10-02 18:49] camsloanftc commented on #107
I added comment over at [angeloashmore/gatsby-source-shopify/#1](https://github.com/angeloashmore/gatsby-source-shopify/issues/1). It seems this plugin is getting fragmented into parts. It would be great to have a single source to make PRs against, maybe moving under Gatsby monorepo, or just committing it back to the original repo by @angeloashmore.

[2018-10-02 22:31] dumblole commented on #118
Is this already claimed?

[2018-10-02 22:44] #144 closed

[2018-10-03 00:41] dumblole commented on #124
It works for me, is this still an issue. Is the fix supposed to be removing the ability to select these items or the fact that the sidebar still charges for these items.
![image](https://user-images.githubusercontent.com/28949652/46384364-78881600-c683-11e8-8644-791b59d8d0e4.png)

[2018-10-04 12:47] alisonjoseph commented on #143
I tried 😂😂

![img_4797](https://user-images.githubusercontent.com/2753488/46474947-c39c4900-c7a9-11e8-9e3c-f1a47ededdb6.jpg)
![img_4800](https://user-images.githubusercontent.com/2753488/46474948-c39c4900-c7a9-11e8-8161-0e4d9f59cb0a.jpg)

[2018-10-04 12:51] alisonjoseph commented on #143
I tried 😂😂

![img_4797](https://user-images.githubusercontent.com/2753488/46475095-360d2900-c7aa-11e8-87e4-a16b4f9572e7.jpg)
![img_4800](https://user-images.githubusercontent.com/2753488/46475096-360d2900-c7aa-11e8-942e-0658dd260ede.jpg)

[2018-10-05 01:55] jlengstorf commented on #124
@dumblole Ideally, the UI of the store would show items as disabled rather than letting you get all the way to checkout before telling you it's sold out. Shopify returns items with "variants" (the sizes, etc.) that each have an inventory count attached, so we need to check if the variant has >=1 in inventory, and disable the option if not.

[2018-10-05 09:21] dumblole commented on #124
Alright @jlengstorf  thanks for clearing it up, I'll take a look when I come home from school later today. I'd appreciate a couple of pointers if it wouldn't bother you too much.

[2018-10-05 14:48] #107 closed

[2018-10-05 15:05] jlengstorf commented on #124
@dumblole Of course!

A few key pieces of code:

The product details are loaded here: https://github.com/gatsbyjs/store.gatsbyjs.org/blob/df6969a0757a91962871682724d0d2e9d2735fd3/src/components/Store/ProductListings.js#L29-L33

There’s an `availableForSale` field that will tell you whether or not each variant is in stock. Add that to the query. (Try it out [in GraphiQL while running `gatsby develo

[2018-10-05 23:33] dumblole commented on #124
@jlengstorf Thanks for the opportunity for contributing. Thanks for the really really helpful pointers - I don't think I would've figured out the code. Even though I added like 3 lines of code, I have learned a lot. Nevertheless, there's a lot I still have to learn.

[2018-10-08 18:43] #124 closed

[2018-10-09 16:09] #140 closed

[2018-10-09 23:41] marisamorby commented on #52
STEM group: http://www.stemforher.org/

[2018-10-09 23:47] marisamorby opened #150 "[Swag] Tree planting"
I love this "find a bug, we plant a tree" from Kentico: https://trees.kentico.com/

Not yet sure how this would work, but I'd like to figure out a way to do something like this as a swag offering, similar to the charity donation.

[2018-10-11 23:33] jlengstorf commented on #150
🌲🌲🌲

[2018-10-12 15:01] #118 closed

[2018-10-15 22:32] yeskunall commented on #19
@jlengstorf I feel like this issue should be revisited by you guys. I just got my invite today and I actually noticed the URL. Had I not known you worked for Gatsby, it would have definitely raised my suspicion. 🤭

[2018-10-16 18:06] jlengstorf commented on #19
Yeah, it's definitely on the list of things to do. 😅

[2018-10-17 13:20] josefaidt opened #152 "'Checkout as guest' link takes users to pre-store page"
The "Checkout as guest" link on the checkout page takes the users to a ["Gatsby Store - Opening Soon"](https://gatsby-swag.myshopify.com/password) page, instead of moving forward as a guest.
![image](https://user-images.githubusercontent.com/5033303/47088967-62cb3280-d1e5-11e8-9a1e-be1d35f2cba9.png)

![image](https://user-images.githubusercontent.com/5033303/47089006-75de0280-d1e5-11e8-95ae-1f0509

[2018-10-19 15:09] jlengstorf commented on #152
Hmm... this might be a limitation in Shopify that we can't control. Does the checkout ask for information beyond what's already entered by the time you get to this screen? Is there a benefit to checking out as a guest? I'm asking because the simplest solution may be to disable that option to avoid confusion, but I'd want to be sure there's not a use case I'm unaware of.

[2018-10-22 16:13] lloydh opened #154 "[Browser support] fetch is undefined - missing polyfill?"
Just a heads up that the site crashes IE 11 on account of fetch being undefined. As there's not a ``browserslist`` entry in ``package.json`` my understanding is that Gatsby v2 supports [``>0.5, not dead``](https://www.gatsbyjs.org/docs/browser-support/#browser-support), which _should_ include a fetch polyfill for IE 11 via Babel 7 ``preset-env``.

Obviously not many Gatsby devs will be using IE as

[2018-10-22 17:14] jlengstorf commented on #154
Oh, whoops — yeah, this would be great to get fixed.

Is anyone looking to wrap up their Hacktoberfest PRs? This would be a good candidate for that!

Potential fixes:

- [ ] Swap out `fetch` for `axios` (which I believe eliminates this problem altogether)
- [ ] Add the appropriate `fetch` polyfill

I'm happy to answer questions on this. Thanks again for bringing this up, @lloydh!

[2018-10-22 17:20] DSchau commented on #154
@jlengstorf +1 for axios! Simplifies some of the code for fetching, and uses `XMLHttpRequest` under the hood, therefore reducing the need for a polyfill.

[2018-10-22 18:29] lloydh commented on #154
It seems that it's the ``shopify-buy`` client that is using fetch. [It's simple](https://github.com/Shopify/js-buy-sdk/issues/458#issuecomment-352070407) to pass the constructor a specific fetch implementation (polyfill) but I'm not sure whether using axios is feasible.

[2018-10-22 18:46] jlengstorf commented on #154
Ah... that complicates things. Looks like _only_ the polyfill is viable, then. Or this issue moves upstream to the Shopify Buy SDK.

[2018-10-24 01:17] jlengstorf commented on #154
@aestevens Thanks! It's all yours. 💪💜

[2018-10-25 23:47] hackily commented on #154
It might be worth checking how other browsers are behaving.
The production site doesn't work for me on firefox 62, nor does the site compiled with `gatsby build`.

I can't get to the auth0 page, open the cart, or add things to the cart. However, cloning the repo and running `gatsby develop` brings up the dev server with perfect functionality.

Interesting.

[2018-10-25 23:48] jlengstorf commented on #154
Hmmm... that seems... bad. We should definitely dig deeper into this. I'm just starting a reasonably intense refactor of this site to use a new back-end, so I'll make sure to include this in that work.

[2018-10-25 23:52] jlengstorf commented on #154
I just checked on macOS using Firefox 60 and things worked. I then updated to Firefox 63 and things are still working for me. @hackily do you have any errors on your end?

[2018-10-26 00:05] hackily commented on #154
Oh hell. I have greasemonkey and I isolated the reason why it won't work for me to reek's anti-adblock killer script: `https://reek.github.io/anti-adblock-killer/`

Without it, the prod site works, and so does the local prod build.

[2018-10-26 00:06] jlengstorf commented on #154
@hackily phew! Glad to hear that; I was worried we'd shipped broken code. 😅

[2018-10-26 00:45] ItsPugle opened #155 "Remove issues that have the `Hacktoberfest - Claimed` label"
Since issues that have the `Hacktoberfest - Claimed` labels are already being developed by a Hacktoberfest participant, I think it would be good if the store didn't list them as open issues on the Maintainer Dashboard.

For example, this issue is advertised even though it's already being developed:
![2018-10-26 at 10 44 am](https://user-images.githubusercontent.com/22669894/47538000-437e8480-d90c-

[2018-10-26 01:01] jlengstorf commented on #155
Oh, this is actually a _great_ idea, and a great Hacktoberfest issue. 😅

Anyone want to pick this up?

[2018-10-26 01:28] #119 closed

[2018-10-26 03:00] brandonmbanks commented on #155
I would be happy to work on this!

[2018-10-26 20:11] brandonmbanks commented on #155
@jlengstorf I have a PR that would address this issue. Let me know if you have any comments.

[2018-10-26 21:38] mjordancodes commented on #143
Going to have to dress up my pups in all my Gatsby swag and add pictures!

[2018-10-27 03:52] ItsPugle commented on #155
Great work squad 🌟

[2018-10-27 17:45] andrew-anguiano commented on #123
@jlengstorf I was going to open an issue and work to try and add a lightbox for the store item images. I saw that that feature is mentioned here, but this issue is closed so I was wondering if that was still something that would be good to work on.

[2018-10-29 21:09] #155 closed

[2018-10-30 09:04] jedrichards commented on #93
@lukeoliff @jlengstorf I've since dug a little deeper into the docs and worked it out. I've tried to encapsulate the approach as a Gatsby plugin, which:

- Usest the hosted login page
- Uses `checkSession` and stores tokens in memory only
- Automatically adds the login redirectUri route
- Exposes the Auth0 state and some callbacks (login, logout etc) to the rest of the app via React.Context

I'm j

[2018-10-30 17:40] jlengstorf commented on #93
This looks great! We need to do the same for this store as well. Thanks for putting the work in.

I do think this would be valuable. I believe @lukeoliff has a post somewhere that talks about this, but I don't know where it is.

[2018-10-30 18:18] jedrichards commented on #93
Finding the Silent Authentication docs was the ah-hah moment for me

https://auth0.com/docs/api-auth/tutorials/silent-authentication

[2018-10-31 10:28] lukeoliff commented on #93
Further to the above, logging out becomes a simple task of forgetting the in-memory auth and clearing the flag.

This means other applications using the same auth session at the provider don't also get logged out. Log out from the auth server is considered different to log out from the app.

https://auth0.com/docs/libraries/auth0js/v9#logout

[2018-10-31 10:40] jedrichards commented on #93
@lukeoliff That's very helpful thanks.

[2018-10-31 21:53] #120 closed

[2018-10-31 21:53] #132 closed

[2018-10-31 22:41] jlengstorf commented on #115
Hats are live! store.gatsbyjs.org

[2018-10-31 22:41] #115 closed

[2018-10-31 22:42] jlengstorf commented on #104
As an initial experiment, we've ordered one pin. Should be available soon!

[2018-10-31 22:56] jlengstorf commented on #47
This hasn't moved, and we haven't been sharing components, so I'm going to close this for now. I'd very much like to see a design system come together, but the issue to track it should probably live somewhere else.

[2018-10-31 22:56] #47 closed

[2018-10-31 22:57] jlengstorf commented on #69
Closing this as stale.

[2018-10-31 22:57] #69 closed

[2018-11-01 08:49] KirankumarAmbati opened #161 "[feature]Privilege to track the orders."
There can be a privilege to track the member orders from https://store.gatsbyjs.org/

[2018-11-01 19:37] josefaidt commented on #152
@jlengstorf I was trying to claim my free swag, and since I already had an account (not signed in via Github) it was saying my account is not eligible for the code, therefore I was attempting to checkout as guest.

I can log in to the store using my Github account, but then it looks to use my pre-existing Shopify account. Let me try bypassing cookies and cache to see if it allows me to go through

[2018-11-01 23:50] jlengstorf commented on #152
Ah, I get what you mean. We saw this once before and an incognito window solved it. Unfortunately we have to tie the discount to the email, and I wasn't able to find a way to disable that guest checkout. Let me know if this is still an issue and we can work out a different path to get your swag to you. Thanks!

[2018-11-02 12:13] ItsPugle opened #164 "Replacing email addresses as mailto links in README"
Hey,

I know this is a really basic thing, but does anyone have any reason why they wouldn't be okay with this? Having the email address as is is a bit disruptive to what could be a perfect tone of voice example, but having it hyperlinked would be better.

For example, instead of `Send us an email to team@gatsbyjs.org and we'll see what we can do` which is a bit odd/unusual, we could have `Just [s

[2018-11-02 14:58] DSchau commented on #164
Doesn't it already work this way?

![screen shot 2018-11-02 at 9 56 09 am](https://user-images.githubusercontent.com/3924690/47922643-89e06000-de85-11e8-9f7d-ecc8694bc3e7.png)

[2018-11-03 01:41] ItsPugle commented on #164
Hey @DSchau,

Sorry, I think I might have explained this wrong! What I'm thinking is that instead of having the email written inline, the text "send us an email" etc would by hyperlinked:
![2018-11-03 at 11 26 am](https://user-images.githubusercontent.com/22669894/47946839-0abe5b00-df5d-11e8-954f-3cbe3eba2650.png)

Most companies that I've looked at prefer to hyperlink text with related articles o

[2018-11-03 20:38] jlengstorf commented on #164
@ItsPugle I've found that `mailto` links are sometimes weird. For example, I hate it when I click on one and the "Mail" app opens when what I actually wanted was to send through my browser. Being able to read the email as text helps people like me who might be transcribing it from the screen to my phone, etc.

Same with the Twitter handle: I like to see what the account is.

That being said, I don

[2018-11-04 03:00] bcye opened #165 "Callback does not redirect"
When I login in Safari (Version 12.0 (14606.1.36.1.9)) and log in with GitHub in the Store, I'm stuck on the callback page, saying "logging you in" (https://store.gatsbyjs.org/callback/)

[2018-11-05 15:15] amberleyromo opened #168 "[EPIC] Tier 2 swag"
### Who will own this?

**Area of Responsibility:** Ecosystem

| Role                | Name  | RACI                                        |
| ------------------- | ----- | ------------------------------------------- |
| **AoR owner**       | @amberleyromo  | _Consulted about the epic_                  |
| **Domain owner**    | @amberleyromo    | _Informed about epic_    |
| **Project manager** |

[2018-11-05 15:20] amberleyromo commented on #143
had to make this lil gatsbuddy a custom crop top 😹

![00100dportrait_00100_burst20181103132745122_cover](https://user-images.githubusercontent.com/3461087/48006824-e937ad80-e0db-11e8-976a-4660564de324.jpg)

[2018-11-05 15:30] amberleyromo opened #170 "tier 2 swag: return appropriate coupon codes to user on login"
-  [ ] if a user has met the criteria for tier 1, return tier 1 coupon code.
-  [ ] if a user has met the criteria for tier 2, and redeemed tier 1 but not tier 2, return a tier 2 coupon code.
- [ ] if a user has met the criteria for tier 2, and redeemed neither tier 1 nor tier 2, return a tier 1 and a tier 2 coupon (two coupons)

[2018-11-05 15:31] amberleyromo opened #171 "tier 2 swag: [shopify] add tier 2 tag to shopify customer"
Add a new tag to shopify customer that indicates they're tier 2.

[2018-11-05 15:32] amberleyromo opened #172 "tier 2 swag: [shopify] ensure that only users tagged with tier 2 can redeem the tier 2 code"

[2018-11-05 15:33] amberleyromo opened #173 "tier 2 swag: [overview/design] order store products by tier"
Reorganize products in store to be grouped by what tier they belong to (in shopify admin "collections")

- Stickers are free with any order
- Tier 1:
  - T-shirts
  - Socks
  - Hats
- Tier 2:
  - Hoodies
  - Coffee tumblers (upcoming)
  - Pajama pants (upcoming)

## Todo
- [x] #179: Create the separation in Shopify (needs to be done by an Inkteam member)
- [x] #180: (this issue) Design a solution

[2018-11-05 15:35] amberleyromo opened #174 "tier 2 swag: [shopify] create tier 2 code"
Create new tier 2 code in the "discount" section.

[2018-11-05 15:38] amberleyromo opened #175 "tier 2 swag: [overview/design] accommodate tier 2 code in dashboard UI"
Create design solution ~in `/account/dashboard`~ to show 1-2 discount codes (and potentially “used” discount codes).

- [x] #173: [design] order store products by tier
- [x] #176: [design] Handle used coupon codes for logged-in users
- [x] #117: [design] Product detail pages
- [x] #177: [design] enhance product preview
- [x] #180: [design] make connection between products and tier visually apparen

[2018-11-05 15:41] amberleyromo opened #176 "tier 2 swag: [design] Handle used coupon codes for logged-in users"
If a user logs in to the store, and is qualified for swag (currently only tier-one swag), the UI shows the same coupon code flow whether they've redeemed swag or not.

If a user has already logged in and redeemed swag, the coupon code should show a "used" state of some sort.

[2018-11-05 15:52] amberleyromo opened #177 "tier 2 swag: [design] enhance product preview"
Enhance product preview. (Lightbox? Open for discussion)

[2018-11-05 16:11] jlengstorf commented on #170
We need an issue to add a check for whether or not a coupon code has been redeemed.

I think the way this will work is:
- Load all orders for the given customer
- Check if any discount codes were used
- Match those discount codes against our contributor level discount codes
- Return a status for each code.

There's another state here, too, which is that they've met the criteria for both tiers and

[2018-11-05 16:15] jlengstorf commented on #171
Relevant code in the API: https://github.com/gatsbyjs/api.gatsbyjs.org/blob/dbe21afbc6e5a22adf5c507025121569783d92f9/src/lib/shopify.js#L14-L37

[2018-11-05 16:16] jlengstorf commented on #172
This is done in the Shopify admin interface, so an Inkteam member needs to set this up. I can own it.

[2018-11-05 16:18] jlengstorf commented on #173
This needs to be visually apparent in the store UI somehow. It could be done through filters, through subheading groupings, through badges on the products, or something else, but we need to make it obvious so there's no confusion about why one product gets the discount and another doesn't.

A stretch goal for this would be to have the badges be auth-aware, showing contributors what they can get fo

[2018-11-05 16:29] jlengstorf commented on #173
So there are actually a couple tasks here, on thinking about this more:

1. Create the separation in Shopify (needs to be done by an Inkteam member)
2. Design a solution for making it visually apparent which items are available as part of which contributor tier
3. Implement the new design in the UI

We should probably split these into distinct issues to make them individually assignable.

[2018-11-05 16:30] jlengstorf commented on #174
Needs to be done by the Inkteam, so I'll handle this. @amberleyromo let's pair on this so you can see how it works.

[2018-11-05 16:42] jlengstorf commented on #175
This is going to have two phases: design and implementation. Can we split it out to make sure we don't try to design in code? Wireframing might be the best path forward on this to keep the iteration time low.

[2018-11-05 16:43] jlengstorf commented on #176
Related: #169

[2018-11-05 16:44] jlengstorf commented on #177
Ideally, we'll have:

1. A product detail page with a unique URL
2. A lightbox feature for photos

Both should probably start with a design phase, so we probably need to have issues splitting that out.

[2018-11-05 17:18] amberleyromo opened #178 "tier 2 swag: add a check for whether or not a coupon code has been redeemed"
(ported from @jlengstorf comment: https://github.com/gatsbyjs/store.gatsbyjs.org/issues/170#issuecomment-435932868)

I think the way this will work is:

- Load all orders for the given customer
- Check if any discount codes were used
- Match those discount codes against our contributor level discount codes
- Return a status for each code.

Relates to #170

[2018-11-05 17:21] amberleyromo opened #179 "tier 2 swag: [shopify] create separation of tiered products in shopify"
Needs to be done by an Inkteam member.

Relates to #173

[2018-11-05 17:23] amberleyromo opened #180 "tier 2 swag: [design] allow filtering by product tiers and other attributes"
Design a solution for making it visually apparent which items are available as part of which contributor tier.

Relates to #173

[2018-11-05 17:24] amberleyromo opened #181 "tier 2 swag: [implement] make product tiers apparent"
Implement #180 (solution for making it visually apparent which items are available as part of which contributor tier).

Relates to #173

[2018-11-05 17:28] amberleyromo opened #182 "tier 2 swag: [implement] accommodate tier 2 code in dashboard UI"
Implement design in #175 to accommodate multiple coupon codes and their varying states.

Context: #170 describes some of these states.

[2018-11-05 17:28] amberleyromo commented on #175
@jlengstorf I turned this issue into the design issue, and created an implementation issue: #182

[2018-11-11 20:37] aesthytik opened #184 "'Visit our store' link in Gmail sends user to shopify store."
Here is link on gmail:
![order 1957 confirmed rawat vipin4818 gmail com gmail](https://user-images.githubusercontent.com/26917061/48317983-a3b93a00-e61f-11e8-80b3-12bfad091ac7.png)

it redirects to shopify store instead of gatsby store:
![gatsby store opening soon](https://user-images.githubusercontent.com/26917061/48317990-b5024680-e61f-11e8-88ad-95d9dc7b1cc7.png)

[2018-11-13 02:03] jlengstorf commented on #184
Hmm... I'll try to find that template. 😕

Thanks for the heads up!

[2018-11-13 23:31] amberleyromo commented on #175
Notes and considerations jumping off https://github.com/gatsbyjs/store.gatsbyjs.org/issues/175#issuecomment-438476784

- Add visual indicator that side panel can be minimized/opened.
- Add a floating design detailing that all orders over $10 get a free sticker pack
- Add filtering for products eligible for the different contributor tiers.
  - Filtering should be extensible for later use (sizes, ty

[2018-11-14 00:32] jlengstorf commented on #175
One note: I think we might just drop the "No thank you" button next to the GitHub login in favor of a sidebar toggle.

Otherwise this all looks great. Thanks!

[2018-11-14 23:37] marisamorby commented on #117
@amberleyromo is this being accounted for in the swag store redesign? If so, can we close this?

[2018-11-14 23:44] amberleyromo commented on #117
@marisamorby Actually, I'll just add this to the Epic. (Thanks for noting!) We had bundled product preview and product detail, makes sense to keep this and split it out.

[2018-11-19 19:09] riencoertjens commented on #143
check out this cutie right here: https://www.instagram.com/doraforscale/

![whatsapp image 2018-11-17 at 15 51 18](https://user-images.githubusercontent.com/36336875/48729042-ea69ee00-ec36-11e8-8458-5b5256c793d4.jpeg)
![whatsapp image 2018-11-17 at 15 51 23](https://user-images.githubusercontent.com/36336875/48729043-ea69ee00-ec36-11e8-818b-a9d20c8f4f44.jpeg)

[2018-11-19 22:03] davidbailey00 commented on #143
![img_20181119_215018](https://user-images.githubusercontent.com/4248177/48737733-bd253c00-ec46-11e8-9fe4-f0545bddbfdf.jpg)

He's called Pickle! (not looking the most impressed with me 😁)

[2018-11-19 23:19] afuh commented on #143
❤️
 ![2018-11-20 00 13 17](https://user-images.githubusercontent.com/25172241/48740896-8d336400-ec59-11e8-8c82-455a4a6d9cd3.jpg)

[2018-11-19 23:41] jlengstorf commented on #143
@afuh in the Cone of Shame, even! 😂

[2018-11-20 13:32] freiksenet commented on #143
![img_20181120_152231](https://user-images.githubusercontent.com/172936/48776747-4b4a0280-ecd9-11e8-9825-b6ee0ad3b5f1.jpg)

![index](https://user-images.githubusercontent.com/172936/48776794-70d70c00-ecd9-11e8-9844-2d8b15c352d2.jpg)

[2018-11-20 17:37] GregBorrelly commented on #113
@jlengstorf  having the same issue

[2018-11-21 03:33] jlengstorf commented on #113
@GregBorrelly can you email me at jason@gatsbyjs.com to let me know which email you're using? We'll get you sorted out.

Thanks!

[2018-11-22 16:58] riencoertjens commented on #143
I made a new #gatsbuddy today! 😻
![dsnpyqqwwaijdfv](https://user-images.githubusercontent.com/36336875/48915761-1f1cb600-ee80-11e8-87e8-0a7525d4ee2c.jpg)

[2018-11-25 14:01] NormanPerrin opened #185 "Question: access denied"
### intro
Hello.
Maybe unrelated to the repo but I had a problem cloning your repo and trying to run it with my Shopify private app credentials.

### problem
When it starts building, it fails with this query:
[code]

The error of the message is `access denied`.
I'm really not sure what the permission problem would be since it has this permissions:
<img width="617" alt="captura de pantalla 2018-11-

[2018-11-27 17:54] lindaleebumblebee opened #187 "Add international shipping message to Shopify cart."
Let's add a warning about international shipping to the Shopify cart so we're setting the right expectation. It should say something like:

'International Shipping is unpredictable and slow! Please be advised that the shipment might take much longer than expected.'

[2018-11-27 18:15] AnushPatel commented on #187
Maybe make this 'International shipments can take up to 6 weeks to be delivered. 😱 Tracking updates may not always show up in real time on your tracking link. If you still have not received your order at the end of 6 weeks, please let us know by sending an email to team@gatsbyjs.com, and we'll see how we can help!' a bit more clearer on the page?

[2018-11-27 18:30] AnushPatel commented on #187
That's good! I wonder where the code is to add that so we can submit a PR?

[2018-11-27 18:41] AnushPatel commented on #187
Also Sorry for my formatting! I messed that up

[2018-11-28 14:05] AnushPatel commented on #187
Thanks, @jlengstorf! I will take a look at the code and give it a shot to get the message added. Looked at the new design screenshots in this repo and it looks great! Can't wait for it!

[2018-11-28 17:55] jlengstorf commented on #180
To make this work in Shopify:
1. Add the product to the correct collection (e.g. "Level 1 Swag", "Level 2 Swag")
2. Add the corresponding tag (e.g. "level 1")

[2018-11-29 16:01] erinfox commented on #143
Sullivan loves any excuse for a fashion shoot!
![dtlk7dkuwaavhld](https://user-images.githubusercontent.com/2327277/49234422-05bac300-f3c6-11e8-816f-bfa28e78bfba.jpg)

[2018-11-29 21:09] jlengstorf opened #190 "Port label link logic to the API"
Right now the label links are generated in the UI. The GraphQL API should do this work.

https://github.com/gatsbyjs/store.gatsbyjs.org/blob/8cb2de9e19b2d39f9e6e89908f494da07918dd11/src/components/Dashboard/IssueList.js#L77-L84

[2018-11-30 22:15] jlengstorf commented on #185
Hi @NormanPerrin! I'm not sure what the problem could be at first blush, but make sure you've got your Shopify access token set. (see https://github.com/gatsbyjs/store.gatsbyjs.org/blob/master/gatsby-config.js#L13)

If that's set, you may want to try making a request through Shopify's API directly to make sure your token is working correctly.

If the direct calls are working, maybe this is a plugi

[2018-12-03 19:12] NormanPerrin commented on #185
I had the access tokens according to my account.
For what I saw searching it might be a problem when some collection are empty, like blogs.
I dind't have problems doing direct calls from the GraphiQL.

But my free trial of Shopify expired 😕
So if I have to use use it later I'll comment my solution.

[2018-12-03 19:12] #185 closed

[2018-12-06 10:05] jedrichards commented on #106
@jlengstorf @Manoz Safari is not tolerant of hashes on urls that don't have a trailing slash. So something to check is that your `AUTH0_CALLBACK` url has a trailing on it ...

https://community.auth0.com/t/hash-gets-lost-on-safari-webkit-browsers/7263/6

[2018-12-09 15:49] isaac-martin commented on #184
@jlengstorf did you fix this? Its obviously not major, but i know exactly where it is and would be willing to fix for you!

[2018-12-16 01:59] jlengstorf commented on #121
Mugs are in the store!

[2018-12-16 01:59] #121 closed

[2018-12-16 02:00] jlengstorf commented on #104
Pins are in the store!

[2018-12-16 02:00] #104 closed

[2018-12-16 03:05] gddabe opened #194 "Cloned to local, clicked add to cart but nothing happen"
I didn't setup api.gatsby.org, how can I get rid of it and let it run properly in local?

[2018-12-19 14:39] jlengstorf opened #195 "Delete the cart if there’s an error loading it from Shopify"
If I add something to my cart, then leave the site, and that item sells out/gets removed before I come back, the cart comes back empty and the site completely fails to load. We need to add a check for a bad response when loading the saved cart and — if we can't load it — delete it entirely rather than borking the site.

[2018-12-19 15:44] jlengstorf commented on #194
@gddabe To add things to a cart, you'll need to have a Shopify store set up with the appropriate tokens. See https://github.com/gatsbyjs/store.gatsbyjs.org/blob/625b0299f625303ad610d22611f9d878e8f50cfa/src/context/StoreContext.js#L4-L7

And https://github.com/gatsbyjs/store.gatsbyjs.org/blob/625b0299f625303ad610d22611f9d878e8f50cfa/gatsby-config.js#L9-L15

Hope that helps!

[2018-12-19 15:46] jlengstorf commented on #38
All the nail wraps we sampled seemed cheap, according to @marisamorby. Closing this out for now; if we find a better producer we'll revisit.

[2018-12-19 15:46] #38 closed

[2018-12-20 06:32] gddabe commented on #194
it works! cheers!

[2018-12-20 06:32] #194 closed

[2018-12-20 06:37] gddabe opened #196 "Hanged during deploy in netlify"
It builds and runs ok in local. But then I try deploy to netlify, but every time it hangs here.
Clear cache and redeploy, same. Any idea?
[code]

[2018-12-20 19:14] filips123 commented on #113
@jlengstorf I have same problem, but I'm getting error code "BUILDWITHGATSBY discount code isn’t available to you right now".

[2018-12-21 17:06] #39 closed

[2018-12-23 17:06] #37 closed

[2018-12-23 21:50] jlengstorf opened #197 "Migrate to the official Shopify plugin"
[`gatsby-source-shopify`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-shopify) has been moved into the core, so we should switch over to that plugin instead. I _think_ this should be a drop-in replacement, but we'll need to test it.

[2018-12-23 21:53] jlengstorf commented on #113
@filips123 it appears we introduced a regression with https://github.com/gatsbyjs/api.gatsbyjs.org/pull/17 that wasn't setting up the Shopify account properly. This has been patched as of yesterday, but please let us know at team@gatsbyjs.com if you're still unable to claim the discount. Thanks!

[2018-12-23 21:57] jlengstorf commented on #196
Unfortunately, I have no idea. Are your env vars set up? (Though I _think_ it should throw errors if the env wasn't set up properly.)

If so, maybe we can poke @sw-yx for Netlify troubleshooting help?

[2018-12-23 21:58] jlengstorf commented on #194
I should probably move all of this into a `.env` or something, because that's confusing. 😅

[2018-12-23 22:00] jlengstorf opened #198 "Move Shopify tokens to a .env file or some other centralized place"
Right now we embed the public Shopify token both in https://github.com/gatsbyjs/store.gatsbyjs.org/blob/625b0299f625303ad610d22611f9d878e8f50cfa/src/context/StoreContext.js#L4-L7

And https://github.com/gatsbyjs/store.gatsbyjs.org/blob/625b0299f625303ad610d22611f9d878e8f50cfa/gatsby-config.js#L9-L15

We should extract this to a single location to avoid confusion and to avoid setting hard-coded var

[2018-12-23 22:01] jlengstorf commented on #98
Items without size options no longer have a size dropdown, so we can safely close this. Thanks!

[2018-12-23 22:01] #98 closed

[2018-12-23 22:08] jlengstorf commented on #184
@isaac-martin I haven't fixed it yet, no. I'm out of seats for our Shopify account, but if you let me know where to look so I don't have to Google it I'll absolutely get you set up with a discount code for the assist. 😅

[2018-12-24 17:06] #90 closed

[2018-12-24 17:18] isaac-martin commented on #195
How is the cart data returned now? I did something similar on another website last week, although not using gatsby should be pretty similar process. Happy to have a look

[2018-12-27 16:56] #109 closed

[2018-12-28 19:32] jlengstorf commented on #195
We create a Shopify checkout, then store its ID in localStorage. I think the fix here is to add a try/catch that just swallows a checkout error and creates a new checkout in this code: https://github.com/gatsbyjs/store.gatsbyjs.org/blob/625b0299f625303ad610d22611f9d878e8f50cfa/src/components/shared/Layout.js#L125-L133

Thanks, @isaac-martin!

[2018-12-28 20:02] jlengstorf commented on #184
@isaac-martin that did it! If you want to send me a note at jason@gatsbyjs.com, I'll get you set up with a discount code. Thank you!

[2018-12-28 20:02] #184 closed

[2018-12-28 20:04] #198 closed

[2018-12-31 17:06] #114 closed

[2019-01-01 11:35] b-barry commented on #195
@jlengstorf and @isaac-martin I have just made the #202 to fix that :)

[2019-01-03 14:54] greglobinski opened #203 "[redesign] Add internal ads"
Addition to https://github.com/gatsbyjs/store.gatsbyjs.org/pull/201

Although I designed two different shapes of the "Free Sticker Pack" ad, for desktop and mobile, now I think that for flexibility and future use we should stay with one, the desktop version, which fits to both viewports.

![screenshot from 2019-01-03 17-19-24](https://user-images.githubusercontent.com/32480082/50648687-273a3c00-0f

[2019-01-03 14:55] greglobinski opened #204 "[redesign] Add filtering"
I'm not sure if there is any reason to implement now or later (before we add any other filters besides codes) filter component as a full screen popup (the same way as the picture browser works). I would rather build a collapsible inline component. Clicking on "Filter Product list" would unfold the available option of filtering (in our case only by codes)

That needs probably a small mockup from me

[2019-01-03 14:56] greglobinski opened #205 "[redesign] Finish/fix community captions"
Because of https://github.com/gatsbyjs/store.gatsbyjs.org/pull/201#discussion_r244872315 I'm not really sure about the current status of the functionality.

The caption field on Shopify would be the best solution. But if not we can still use `altText` with some hack.

If the value of `altText` would have a structure like below:

[code]
so if we find the `[......]` pattern inside `altText` we show

[2019-01-03 14:59] greglobinski opened #206 "[redesign] Add a swag code flag to product page"
Addition to https://github.com/gatsbyjs/store.gatsbyjs.org/pull/201

For logged in contributor with valid code(s) the same way as we flag eligible products for code on Product listing we should flag them on the product pages.

![screenshot from 2019-01-03 17-47-34](https://user-images.githubusercontent.com/32480082/50650105-d3315680-0f7f-11e9-995b-9c5349caadd4.png)

[2019-01-03 15:02] greglobinski opened #207 "[redesign] Add incentive to level up"
Addition to https://github.com/gatsbyjs/store.gatsbyjs.org/pull/201

This how it looks like now. Regrettably I did not make any mockup visualizing @amberleyromo 's idea of progress bar.

![screenshot from 2019-01-03 16-22-48](https://user-images.githubusercontent.com/32480082/50645519-0ff75080-0f74-11e9-9736-efb57d0be0a7.png)

![screenshot from 2019-01-03 16-25-17](https://user-images.githubuserco

[2019-01-03 15:05] greglobinski opened #208 "[redesign] Extend the message for contributors who used already both of their swag codes"
Addition to https://github.com/gatsbyjs/store.gatsbyjs.org/pull/201

This is how the contributor area looks now for contributors who used their both codes. I think that we can say more :)

![screenshot from 2019-01-03 16-10-56](https://user-images.githubusercontent.com/32480082/50644815-3caa6880-0f72-11e9-8291-5f1cafd601b8.png)

![screenshot from 2019-01-03 16-11-09](https://user-images.githubuser

[2019-01-03 15:12] greglobinski commented on #208
This is how the contributor area looks now for contributors who used their both codes. I think that we can say more :)

![screenshot from 2019-01-03 16-11-09](https://user-images.githubusercontent.com/32480082/50644813-3c11d200-0f72-11e9-9de2-585db4643264.png)
![screenshot from 2019-01-03 16-10-56](https://user-images.githubusercontent.com/32480082/50644815-3caa6880-0f72-11e9-8291-5f1cafd601b8.png

[2019-01-03 15:20] greglobinski opened #209 "[redesign] Restyle the used code badge"
Addition to https://github.com/gatsbyjs/store.gatsbyjs.org/pull/201

I did not finish styling the used code badge and think it needs to be done. With current view, the used code do not differentiate enough from the valid one.

![screenshot from 2019-01-03 16-14-32](https://user-images.githubusercontent.com/32480082/50645079-015c6980-0f73-11e9-9c09-eac403d5321b.png)

Use the design from Figma.

![s

[2019-01-03 17:30] jlengstorf commented on #205
For now, I think we should leave captions off — it's not urgent, and I'm worried about creating our own programming language with patterns, etc. The likelihood of accidentally breaking things is too high, especially as we scale.

I looked for Shopify plugins, and as far as I can tell there's nothing that adds extra fields — it was either really heavy image carousel stuff or "add more options", whi

[2019-01-03 17:50] jlengstorf commented on #203
This will be implemented as an image, so basically a banner ad. We're doing this so we can easily swap out for different information without needing to rewrite a bunch of markup/styles.

[2019-01-03 17:51] jlengstorf commented on #204
A mockup sounds good. Thanks, @greglobinski!

[2019-01-03 17:51] jlengstorf commented on #206
This is done using the product group from Shopify. We may need to update the GraphQL query to retrieve this.

[2019-01-03 17:58] greglobinski commented on #206
If so pleas also update the code in `ProductListingItem`

https://github.com/greglobinski/store.gatsbyjs.org/blob/gl/full-redesign/src/components/ProductListing/ProductListingItem.js

because there I join a code with a product testing the price
[code]

[2019-01-03 20:50] amberleyromo commented on #117
![screen shot 2019-01-03 at 2 49 37 pm](https://user-images.githubusercontent.com/3461087/50660852-d53aeb80-0f66-11e9-987c-0306ae9b1cb7.png)

Closed in #201

[2019-01-03 20:50] #117 closed

[2019-01-03 20:59] amberleyromo commented on #179
"Level 2" collection created in Shopify store by @jlengstorf

[2019-01-03 20:59] #179 closed

[2019-01-03 21:01] jlengstorf commented on #208
Some initial thoughts here:

1. We can probably hide the bottom purple banner altogether if there’s no action to be taken.
2. We need to think about what the call to action is if someone has claimed both coupon codes. Is there one? If not, we can just say something nice.

[2019-01-03 21:07] amberleyromo commented on #180
Product filtering design included in redesign Figma: https://www.figma.com/file/giueJlbA96riSuEiYgGPBq2W/swag.store.tier2?node-id=0%3A1

![screen shot 2019-01-03 at 3 06 51 pm](https://user-images.githubusercontent.com/3461087/50661607-44b1da80-0f69-11e9-826f-53025bab6a32.png)

[2019-01-03 21:07] #180 closed

[2019-01-03 21:07] amberleyromo commented on #174
New tier 2 code is created in Shopify discount section.

[2019-01-03 21:07] #174 closed

[2019-01-03 21:08] amberleyromo commented on #181
Closing in favor of #204

[2019-01-03 21:08] #181 closed

[2019-01-03 21:09] amberleyromo commented on #173
Closing this overview issue in favor of #204

[2019-01-03 21:09] #173 closed

[2019-01-03 21:13] amberleyromo commented on #171
https://github.com/gatsbyjs/api.gatsbyjs.org/blob/679ea4ef0f6f24d650d4ad765ca58c8be7fd403a/src/lib/shopify.js#L163

[2019-01-03 21:13] #171 closed

[2019-01-03 21:17] jlengstorf commented on #209
I think I'd like to make this more of a celebratory thing, now that I'm thinking about it.

So maybe instead of showing the cross and "already used", we could show a 🎉 or something and show "claimed!"

Like, we're _stoked_ that people are using these codes and want them to be stoked, too. 😄

[2019-01-03 21:17] jlengstorf commented on #207
A progress bar should be reasonably straightforward. I think we can manage. Thanks, @greglobinski!

[2019-01-03 21:21] amberleyromo commented on #176
![screen shot 2019-01-03 at 3 20 50 pm](https://user-images.githubusercontent.com/3461087/50662195-3369cd80-0f6b-11e9-83e1-f2737d441347.png)

https://gatsbyjs.slack.com/archives/CDX7WM937/p1546005472001300

[2019-01-03 21:21] #176 closed

[2019-01-03 21:22] amberleyromo commented on #177
Implemented in #201

[2019-01-03 21:22] #177 closed

[2019-01-03 21:22] #175 closed

[2019-01-03 21:25] #182 closed, assigned to nobody

[2019-01-03 22:54] jlengstorf commented on #116
Leave me alone, @gatsbot, gosh!

[2019-01-04 01:30] jlengstorf commented on #206
Okay, great. Will do.

[2019-01-04 10:23] greglobinski opened #211 "[redesign] Img does not load new src after zooming"
Fixing for https://github.com/gatsbyjs/store.gatsbyjs.org/pull/201

I missed this because some product images really do no not have high-res sources, so I thought it was the source of this issue, but  there is issue with zooming pictures.

in `ProductImagaseBrowser` https://github.com/gatsbyjs/store.gatsbyjs.org/blob/next/src/components/ProductPage/ProductImagesBrowser.js

there is code:
[code]
we

[2019-01-04 16:30] amberleyromo commented on #209
What do we think of something like this? (current state is on the right). Darkened background, text comparably smaller, but the badge look is more consistent (which I prefer personally). Also I think the slight text swap in the badge titles helps a lot.

<img width="680" alt="screen shot 2019-01-04 at 10 27 33 am" src="https://user-images.githubusercontent.com/3461087/50698752-68c5f800-100b-11e9-8

[2019-01-04 18:05] amberleyromo commented on #208
I think there's currently no further CTA needed. I added "something nice" language in my last PR. It feels like it's missing the "see open issues", contribution count, recent contributions, etc, but if we're going to conceive of this as a wider dashboard in future work, I think this will suffice for the current iteration.

<img width="420" alt="screen shot 2019-01-04 at 12 01 59 pm" src="https://u

[2019-01-04 19:36] greglobinski commented on #208
This is exactly what I was thinking of but I would never phrase it so nicely myself :100:, even in Polish   :smile:

[2019-01-04 20:34] lannonbr commented on #51
Closing this since the pants are now in the store

[2019-01-04 20:34] #51 closed

[2019-01-04 22:13] amberleyromo commented on #207
Thoughts on this?

<img width="420" alt="screen shot 2019-01-04 at 4 03 50 pm" src="https://user-images.githubusercontent.com/3461087/50713713-b0fd0e80-103b-11e9-8672-f10663ca997c.png">

[2019-01-04 22:20] greglobinski commented on #207
I like it. Two thoughts:
- maybe instead of padlock, a couple of stars like in password input ******
- for the progress bar background I would try the 'brandDarker' color

[2019-01-04 22:22] greglobinski commented on #207
"Make 1 more contribution to reveal Level 2 Swag Code"?

[2019-01-04 22:33] greglobinski commented on #207
Nothing against the padlock, just was thinking aloud

[2019-01-06 21:46] jsjoeio opened #214 "Cannot add items to cart"
### Problem:

As a user, I cannot add items to the cart on the [Gatsby Store](https://store.gatsbyjs.org/).

### Steps to Reproduce:

1. Go to the [Gatsby Store](https://store.gatsbyjs.org/)
2. Select the size for any item then click add to cart

### Expected:

Item is added to cart.

### Actual:

Nothing happens.

In the console, I'm seeing this error appear when I try to add something to the car

[2019-01-07 14:07] greglobinski commented on #204
Originally I thought that the filtering feature will be available only for logged in users with at least one swag code.

But after reading Sam's comment on Slack
https://gatsbyjs.slack.com/archives/CAZJ6N0UT/p1546620405004800 I decided to try to combine the two: product thumbnails & product filtering, and below is the result. Tell me what do you think.

Mockups are at Figma https://www.figma.com/f

[2019-01-07 17:02] jlengstorf opened #215 "Convert Prisma DB to a production DB"

[2019-01-08 02:02] amberleyromo commented on #207
Closed with #213

[2019-01-08 02:02] #207 closed

[2019-01-09 17:06] #40 closed

[2019-01-09 18:13] jlengstorf commented on #214
Hey, @jsjoeio — are you still seeing this? I can't reproduce, so I'd love to get more information about your browser if you're still seeing this error.

Thanks!

[2019-01-09 18:15] jlengstorf commented on #195
Closed in #202

[2019-01-09 18:15] #195 closed

[2019-01-09 20:14] jsjoeio commented on #214
Weird. @jlengstorf Now it's working as expected. I'll close this.

[2019-01-09 20:14] #214 closed

[2019-01-11 02:36] #123 closed

[2019-01-11 02:36] #168 closed

[2019-01-11 02:36] #172 closed

[2019-01-11 02:36] #187 closed

[2019-01-11 02:36] #197 closed

[2019-01-11 02:36] #208 closed

[2019-01-11 02:36] #209 closed

[2019-01-11 02:36] #215 closed

[2019-01-11 02:36] #19 closed

[2019-01-11 04:46] jlengstorf opened #221 "Add higher-resolution images for all products"
The new layout looks great, but all of the images are too small. They need to be at least 2800px wide.

[2019-01-11 04:48] jlengstorf opened #222 "Add SEO for each product"
The product page template should add SEO tags (especially an image) for each product. https://github.com/gatsbyjs/store.gatsbyjs.org/blob/e3f8faa754baa0366ef7cb5fe23d5be395f9b506/src/templates/ProductPageTemplate.js#L24-L26

[2019-01-11 06:48] jlengstorf opened #224 "Post your ideas for new swag!"
What kind of swag would you love to see done up in Gatsby style?

Post your ideas here and vote for your favorites!

Consolidating ideas from other issues:

- Posters (was #99)
- Sunglasses (was #105)
- Knee-high socks (was #50)
- Silk scrunchies with [JAMstack Jammies](https://store.gatsbyjs.org/product/jamstack-jammies) pattern
- Tie bar
- Pocket square
- Custom-printed Converse All-Stars
- All-

[2019-01-11 06:49] jlengstorf commented on #52
Superseded by #224

[2019-01-11 06:49] #52 closed

[2019-01-11 06:49] jlengstorf commented on #150
Superseded by #224

[2019-01-11 06:49] #150 closed

[2019-01-11 06:49] jlengstorf commented on #105
Superseded by #224

[2019-01-11 06:49] #105 closed

[2019-01-11 06:49] jlengstorf commented on #99
Superseded by #224

[2019-01-11 06:49] #99 closed

[2019-01-11 06:49] jlengstorf commented on #50
Superseded by #224

[2019-01-11 06:49] #50 closed

[2019-01-11 08:16] jlengstorf commented on #143
Keeping this open — let’s make this a place to share Gatsby swag photos! 💪💜

[2019-01-11 09:49] LekoArts opened #227 "Checkbox doesn't react on click"
![19_01_5g121cv4](https://user-images.githubusercontent.com/16143594/51026331-86a4d700-158e-11e9-8888-2f7f7b525dc3.gif)

I can only change the state when I click on the text. I'm using the latest Chrome on Windows 10

[2019-01-11 10:03] #222 closed

[2019-01-11 10:41] #106 closed

[2019-01-11 12:38] #227 closed

[2019-01-11 12:45] jlengstorf commented on #87
With the new design, this isn’t really a thing anymore. It would be possible to add in fun messaging in the new design, but this particular approach doesn’t match the new design.

Closing, but happy to discuss alternatives if anyone is super excited about this.

[2019-01-11 12:45] #87 closed

[2019-01-11 13:00] jlengstorf commented on #154
Does anyone have access to IE11 to test this out? the Shopify Buy SDK _should_ be shipping a polyfill, and our code is using axios now. @greglobinski did you happen to do any IE11 testing when you were building the new design?

(Also, do we care? @lloydh brings up two good points: 1. this is a site for an audience that's almost certainly not using IE, and 2. this is also being passed around as a c

[2019-01-11 13:49] jlengstorf commented on #154
@greglobinski okay. I'm inclined to leave IE11 support as an exercise for the reader, then. The trade-off to keep monitoring IE11 isn't worth it given our audience. I'll mark this one as a wontfix (though it might actually be fixed).

[2019-01-11 13:49] #154 closed

[2019-01-11 13:55] greglobinski commented on #154
This fetch issue probably could be fixed, but I'm afraid that the UI will not work as we expect in IE11.

[2019-01-11 15:20] koreyboone commented on #221
Will that take a long time to build while it's pulling them from shopify?

[2019-01-11 17:30] mikelax opened #238 "[Bug] No way to close overlays for Materials & Fit and Care Instructions displays"
# Overview

As a user, when I am browsing the product details page, ie. [/product/dark-deploy-tee](https://store.gatsbyjs.org/product/dark-deploy-tee), If I click on either the *Materials & Fit* and *Care Instructions* Links a full page overlay is displayed. It takes up the full screen, but there is no way to dismiss or close the overlay to get back to the content you were looking at.

If you are

[2019-01-11 20:35] jlengstorf commented on #221
@koreyboone it shouldn't be too bad. I'll make sure they're as optimized as they can be before uploading.

[2019-01-11 20:41] jlengstorf commented on #238
Oh, whoops. Yeah, that definitely needs to be fixed.

[2019-01-12 17:06] #6 closed

[2019-01-14 06:18] gddabe opened #240 "Long time to process image during gatsby develop"
On my Macbook air 2018, it takes forever and stuck on gatsby develop. On my iMac it works but almost take 30mins on gatsby develop.

Is it possible to skip processing image during development and leave it turn on only on gatsby build for production release?

[2019-01-14 17:16] #101 closed

[2019-01-15 07:11] jlengstorf commented on #240
This is possible, but would require an upstream change in gatsby-source-shopify. What size are your Shopify images? If the originals are huge it might slow things down. (The Gatsby builds are only a few seconds for image processing, for comparison.)

[2019-01-15 11:50] KyleAMathews commented on #240
@wardpeet is working on a fix for this https://github.com/gatsbyjs/gatsby/pull/10964

[2019-01-16 14:10] gddabe commented on #240
Just around 80 jpg files, 2k x 3k  pixels each, it really takes sooooooo long time to start the develop process.

[2019-01-16 14:11] gddabe commented on #240
Guess this is exactly what I m looking for right now.

[2019-01-16 14:14] wardpeet commented on #240
Hi,

yes, I still need to figure out a few ruff edges so we are sure our caching
of assets is kept in tact when switching between develop & build.
I'll keep you posted

Regards,
Ward

On Wed, Jan 16, 2019 at 3:11 PM gddabe <notifications@github.com> wrote:

[2019-01-16 14:15] oorestisime commented on #224
Would really like to see a dark themed hoodie similar to the tee :)

[2019-01-16 17:16] #122 closed

[2019-01-16 17:38] joshsmith01 commented on #224
I'd like to see better trucker hats. The design of the current hat is cool, but the quality of the hat was really poor. I like the fit and quality of the hats from Marmot best.

The purple is cool, but I really don't wear purple...ever. What about black or grey?

[2019-01-17 06:46] nero2009 commented on #224
would love to see a gatsby themed Backpack

[2019-01-19 22:59] lanaschuhmacher commented on #224
I would love to have a [sweater](https://justhoodsbyawdis.com/products/JH030) and [hoodie](https://www.gildan.com/shop/men/sweats/gildan-mens-hooded-sweatshirt-gil-18500).

[2019-01-20 04:50] techyontach commented on #224
DARK THEMED GATSBY HOODIE

[2019-01-21 08:15] KirankumarAmbati opened #241 "Cart is getting disabled."
Cart is getting grayed out and is no more interactable when an item is removed from cart.

![store is getting disabled on removing an item](https://user-images.githubusercontent.com/9110567/51460901-b61fc480-1d82-11e9-9c3f-d9117dbb6f7d.PNG)

[2019-01-22 15:27] jlengstorf commented on #224
@joshsmith01 hey, can you say a little more about the trucker hats? Is the quality issue you mentioned with fit or with the hat falling apart?

I’m with you on not wearing much purple. 😅

For those asking for a hoodie, here's the proposed design. @oorestisime @lanaschuhmacher @techyontach what do y’all think?

![hoodie-gray 2](https://user-images.githubusercontent.com/163561/51545496-f597f080-1e16

[2019-01-22 15:59] #241 closed

[2019-01-22 16:58] oorestisime commented on #224
I would wear that with a big smile and be proud!

[2019-01-24 19:52] lanaschuhmacher commented on #224
I love it, @jlengstorf!

[2019-01-25 09:13] techyontach commented on #224
Love the design. When can we expect this to be available in the Gatsby store? @jlengstorf

[2019-01-27 11:55] AnushPatel opened #246 "Free Gift bug - It shows a free sticker pack with stickers"
If you try to order a pack of stickers - The site shows in the cart "We will add the Gatsby Sticker Pack as a FREE bonus to your order!" I don't know if that's the intention...

[2019-01-27 18:20] KirankumarAmbati commented on #224
I'm waiting for the **Black Hoodie** to show up in store !

[2019-01-28 15:35] jlengstorf commented on #224
Black hoodie is in production now. I'll follow up with dates once I have them. Thanks everyone!

[2019-01-28 16:26] joshsmith01 commented on #224
oh, another idea: Larrrrrrge coffee mugs. I'd suggest starting at the 20oz size and moving up. 😜

[2019-01-31 02:19] isaac-martin opened #247 "Set redirect In `header.liquid`"
Occasionally (as seen in #152 ) users are redirected to
https://gatsby-swag.myshopify.com
https://gatsbyjs.myshopify.com/
To get users back to https://store.gatsbyjs.org/ we should write a javascript function in the Shopify theme to get users back to where they need to be. Ideally they are never directed to the Shopify links, but I know it will occasionally happen.

Also i know the cost is minimal

[2019-02-01 21:45] steoneill commented on #224
A nice custom flannel shirt, for when i have to be fancy!

[2019-02-01 21:47] steoneill commented on #246
@jlengstorf  is this a bug? Happy to fix if it is!

[2019-02-03 10:48] AnushPatel commented on #224
Just as I used my Tier 2 code - I saw the mention of dark hoodies!

[2019-02-03 13:31] KirankumarAmbati opened #248 "Sidebar is not visible completely on larger screens"
![opensidebar-incomplete](https://user-images.githubusercontent.com/9110567/52177354-a3c37300-27e5-11e9-8457-65961a816b0e.PNG)

Open Sidebar is not completely visible on larger screens.

[2019-02-06 01:04] #248 closed

[2019-02-06 01:06] jlengstorf commented on #246
@AnushPatel Good catch!

@steoneill this is definitely a bug. We'd want to check for carts with _only_ stickers in them and hide the “free stickers” callout box.

Let me know if you still want to take this. Thanks!

[2019-02-06 01:10] jlengstorf commented on #238
So, looking at this, it actually _does_ open a new page: https://store.gatsbyjs.org/product-details#materials-fit

The back button works as expected, so this isn't necessarily a bug, but more of a UX issue: **it's not obvious that this is how it works.**

Something that could be done to address this would be to add a button that uses the history object to navigate back to the product (similar to t

[2019-02-06 01:15] jlengstorf commented on #247
@isaac-martin do you mean dropping in a `window.location.href = 'https://store.gatsbyjs.org/'` in the template?

That could definitely make sense. There's a use case that we're considering where we have non-public items (such as bulk orders for events) in that Shopify store, which is password-protected, so while for our current use case that would be a good solution (as would switching to the lite

[2019-02-06 01:15] #247 closed

[2019-02-06 01:17] jlengstorf commented on #161
I really like this idea, but we have to mark this as a nice-to-have. People will get emails with tracking numbers, and we have no way of pulling anything that the tracking email doesn't provide. Duplicating the Shopify dashboard for customers _is_ a cool idea, but (for the time being, at least) we aren't able to prioritize it.

I'll leave this open in case anyone wants to implement this to learn h

[2019-02-06 01:34] isaac-martin commented on #247
Yeah exactly that @jlengstorf - all good If there is other use cases that you need the full functionality

[2019-02-06 01:35] isaac-martin commented on #238
Yeah I can do this Jason. @jlengstorf

[2019-02-06 03:19] mikelax commented on #238
thanks @jlengstorf and @isaac-martin .
I think when I wrote up this ticket originally it was before the current design.
In the new (current) I agree the problem is just a UX issue where the user should be given some option (besides browser back button) to get back to the product they were just looking at.

I agree that either of these options would work:

* Add a Back to Product button
* Add a clo

[2019-02-06 09:43] steoneill commented on #246
I'll assign and crack on @jlengstorf !

[2019-02-08 03:11] mattfazza commented on #224
Maybe bottles?  I love my Node.js bottle and would love to have a purple Gatsby one!  +1 for the plaid shirt as well!

[2019-02-08 17:27] #164 closed

[2019-02-08 20:34] jlengstorf commented on #224
@mattfazza do you have a photo or a link to the bottles you mean? (I ask because our [coffee mug](https://store.gatsbyjs.org/product/12oz-travel-mug) is actually sold as a “bottle”.)

[2019-02-08 20:37] #211 closed

[2019-02-08 20:39] jlengstorf commented on #238
Both options make sense. I think my preference would be for the back button. With the URL changing, an "X" could be really confusing if someone _did_ notice that the URL changed. 😄

[2019-02-12 13:07] tharun143 commented on #224
Can I represent my ideas as a pull request or just by commenting here?

[2019-02-12 14:33] jlengstorf commented on #224
@tharun143 comment here with any ideas, please!

[2019-02-12 14:40] tharun143 commented on #224
yeah fine!
1. Sticky notes.
2. Magnetic Badges.
3. Magnetic phone holders.
4. Baseball caps.
5. Tote bags.
6. Aqua notes and pens.
7. Brouchers
8. Keychains.
9. Calendars.

Maybe these ideas can help you ig.

[2019-02-13 03:47] arobida commented on #224
Keyboard protectors and keychains

[2019-02-14 12:48] anshuman73 commented on #143
@jlengstorf How about a separate page on the Gatsby Store which displays the shared swag, and has a form or something similar where people can share their images if they want to ?

Would love to work on it if you think the idea is good !

[2019-02-14 19:43] NeverMendel commented on #246
I can work on it! @steoneill Would you mind if I take it?

[2019-02-14 22:24] jlengstorf commented on #143
@anshuman73 that's something we really want to add. So far we haven't had the time to set up the underlying infra (e.g. where the photos would be stored) so we haven't moved forward on it. Ideally this will happen in the near-ish future.

[2019-02-14 22:25] jlengstorf commented on #221
Quit reminding me of all the things I haven’t done, @gatsbot!

[2019-02-14 22:26] jlengstorf commented on #246
@NeverMendel I believe @steoneill is on this one. Thanks so much for volunteering, though!

[2019-02-15 05:21] mattfazza commented on #224
@jlengstorf These are the bottles!
https://node-js-community-store.myshopify.com/collections/frontpage/products/the-node-js-icon-water-bottle

[2019-02-15 13:35] shakeabi commented on #224
I would like to see badges that can be pinned to a bag or a backpack.

[2019-02-15 17:33] AlexanderProd commented on #124
How do you currently handle updating the site when something is bought and the Shopify inventory changes? I couldn't find any dynamic availability checking of the items so I'm assuming you're rebuilding and redeploying the site everytime a purchase happens to keep the inventory updated? @jlengstorf

[2019-02-16 00:20] jlengstorf commented on #124
@AlexanderProd You're correct. Shopify has webhooks support, so we use that to trigger a Netlify rebuild whenever inventory changes.

[2019-02-16 00:21] jlengstorf commented on #224
@shakeabi like these? https://store.gatsbyjs.org/product/gatsby-lapel-pin Or did you have something else in mind?

[2019-02-16 09:17] shakeabi commented on #224
@jlengstorf Ah no. More like buttons. Bigger in size with pins to latch 'em on to bags. (5cm radius min)

[2019-02-17 20:58] rohintangirala commented on #224
white hoodie

[2019-02-21 17:27] #205 closed

[2019-02-22 10:11] anshuman73 commented on #143
@jlengstorf that's great !
Is there anyway I can help contribute to the code / application for the same or you'll look into it once you sort out the infrastructure requirements ?
In the meantime, as a hack-ish, how about starting a page which gets the image posted on this issue?
Also, just a suggestion, if Gatsby is unsure about being able to support the image storage infra, how about using image

[2019-02-22 17:27] #203 closed

[2019-02-22 17:27] #204 closed

[2019-02-22 17:27] #206 closed

[2019-02-24 02:14] jlengstorf commented on #143
@anshuman73 we need to think through implications like moderating photos before we can really do anything here. We can't allow things to go straight through or we risk abuse (e.g. advertising, inappropriate content), and we don't currently have any resources or plans for moderating community-submitted photos. It's definitely something we're looking at this year, so — for now — you'll have to stay

[2019-02-25 20:24] berkeleycole commented on #113
I'm still unable to claim the discount.

Error: BUILDWITHGATSBY discount code isn’t available to you right now

<img width="505" alt="screen shot 2019-02-25 at 12 24 09 pm" src="https://user-images.githubusercontent.com/10124835/53366384-49a36280-38f8-11e9-95cb-700a2b501ad7.png">

[2019-02-25 22:47] jlengstorf commented on #113
@berkeleycole the email address at checkout needs to exactly match the email you use for GitHub (we link the email to the discount code). If that doesn’t work, can you please send me an email (jason@gatsbyjs.com) with your GitHub email address so I can figure out what went wrong?

Thanks!

[2019-02-26 06:59] PerStirpes commented on #240
Keep it open @gatsbot

I'm experiencing this issue

[2019-03-01 23:47] jlengstorf commented on #238
@isaac-martin hey, how’s it going? Have you had a chance to look at this? No pressure or anything — just let me know if you’re still planning to tackle this one so I can share it around if not.

Thanks!

[2019-03-01 23:49] isaac-martin commented on #238
I've got a branch started, but have been hunting a new job so all spare
time has been dedicated to that. Someone else could tackle it.

On Fri, Mar 1, 2019, 6:47 PM Jason Lengstorf <notifications@github.com>
wrote:

[2019-03-04 22:04] jlengstorf commented on #238
Sounds good, and good luck on your hunt!

[2019-03-12 20:52] harshil1712 opened #256 "Size Chart - The S size for Unisex seems to have a typo"
Hey, I was just checking the size chart and found some typo. I am not sure if it's a really a typo. In the small size for the unisex chest, it says 36-36, shouldn't it be 36-38? The same issue is there for the measurements in  cm. If it's a typo I would like to help fix it.

[2019-03-13 01:50] jlengstorf commented on #256
@harshil1712 yep, that's definitely a typo. We'd love to get a PR to fix that, thanks!

[2019-03-13 05:07] harshil1712 commented on #256
@jlengstorf fixed the typo.

[2019-03-13 18:34] #256 closed

[2019-03-15 01:02] mayailkour commented on #143
I attached some pictures. I license them under the CC0 1.0 Universal (CC0 1.0) Public Domain Dedication. Thank you so much for the awesome swag! 😍
![IMG_8874](https://user-images.githubusercontent.com/47502929/54401017-fd14a100-46c5-11e9-8c14-161b89a37862.jpg)
![IMG_8876](https://user-images.githubusercontent.com/47502929/54401018-fdad3780-46c5-11e9-827f-c4771d704cba.jpg)
![IMG_8881](https://user-

[2019-03-17 20:05] #238 closed

[2019-03-18 00:03] La-comadreja commented on #116
Just want to let you know we are a team of 3 attracted to this project by the swag.  So it is working.  Happy to discuss.

[2019-03-18 01:54] La-comadreja commented on #93
I can take a crack at this one.

[2019-03-18 02:21] raulrpearson opened #259 "Error loading discount code"
When accessing store.gatsbyjs.org and logging in with my GitHub account, I get the following error on the sidebar:

Tried on macOS 10.14.3 and Firefox 65.0.1 and Chrome Version 73.0.3683.75 (Official Build) (64-bit).

This might or might not be related to some change to an email field that customer service had to make somewhere to solve some problems I was having with applying the discount code at

[2019-03-18 14:53] vinay72 commented on #224
@jlengstorf Gatsby Notebook
Gatsby Pen
Gatsby Water filtration bottles
Gatsby Customized shoes
Gatsby Portable device chargers

[2019-03-18 15:05] vinay72 commented on #143
@jlengstorf
![ra,triblend_tee,x2150,red_triblend,front-c,367,133,750,1000-bg,f8f8f8 u5](https://user-images.githubusercontent.com/28500944/54539981-29c60280-49bd-11e9-9799-9c4dff62e2f7.jpg)
![Djfe1FvXsAALAoi](https://user-images.githubusercontent.com/28500944/54540034-45c9a400-49bd-11e9-8002-5c057949d550.jpg)

[2019-03-18 15:35] jlengstorf commented on #93
@La-comadreja please do! I'll be streaming with the Auth0 team to learn how to set this stuff up, so if you hit any walls (or want to join the chat and give hints when I get stuck 😅) we'll be live at 9 am Pacific this Thursday on https://twitch.tv/jlengstorf

Thank you!

[2019-03-19 02:23] La-comadreja commented on #93
Thanks.  This might take me a few days to really look at because I have other things to do.  Also thanks for the heads-up about the channel.  That is cool!

[2019-03-20 12:07] KirankumarAmbati commented on #224
Guys, Black Hoodie is on store. Those who are waiting for it, go and get your copy. :)

[2019-03-20 12:09] steoneill commented on #224
@KirankumarAmbati  I don't seem to be seeing anything here?

[2019-03-20 13:36] KirankumarAmbati commented on #224
Try to open in incognito. I did that and was able to see the Black Hoodie.

[2019-03-21 23:40] jlengstorf commented on #224
A hard refresh ought to do it as well.

[2019-03-22 16:12] Souvik-py commented on #224
I would like to see some purple Gatsby notebook on the store <3

[2019-04-02 06:17] polarathene opened #261 "Discount Code revoked during checkout process (while accepted at the start of it)"
## Summary

I unlocked the Level 2 swag code, it was accepted when applied at the first step of checkout process, but then stated it was not available for me to use after proceeding to the next step.

What happened? This error/notification is not clear why it's not available to me.

## Details

I tried to use the swag store today to get a Level 2 item. The discount code initially worked on the fir

[2019-04-02 06:25] polarathene opened #262 "Provide more clarity when stating a coupon code is not available when applied"
As per #261 I received an error/notification that was rather vague as to why I could not apply the discount code.

According to the sidebar(and fact I have not used the code before), it should have been valid to use?

Without further clarity, I am left wondering if it is a bug(in my case it was accepted initially but revoked later during the checkout process), or if it was due to information I had

[2019-04-02 07:07] polarathene commented on #224
Gatsbot plushie (or small 3D print via Shapeways would be more doable/automated)

Probably not going to happen as it's not as easy as outsourcing to have a product use a colour + logo..

---

Socks in solid black or purple with the logo on the sides near the top would be nice too.
Umbrella (I don't need one atm, but a good quality umbrella with the logo would be a neat/useful offering)
Mug (where

[2019-04-02 07:12] polarathene opened #263 "1st PR trigger vs 1st PR merged difference"
I don't know if this affects the store per se. But iirc, @gatsbybot would only add a message to a PR when the author's 1st PR opened was merged, if a PR since then had been added and merged, @gatsbybot did not trigger on that PR instead.

It's a minor issue, although did have me confused as I had started contributing in late December and had a couple PRs accepted before my first one was merged 2 o

[2019-04-02 07:18] polarathene commented on #262
#113 points out the issue can be due to:

Along with two contact e-mail addresses in that thread. Perhaps it'd be great to let users know when running into this issue as it seems quite a few have and had to search for an answer(I wasn't even aware at the time that the store had a repo here and discovered it via google after a few failed keyword queries). I can see on the main store pages that the

[2019-04-02 07:21] polarathene commented on #261
Resolved. Changing the delivery contact e-mail to the one assigned to my Github account reapplied the swag code, it's now claimed and order completed.

Closing this as cause is now known. I have #262 open to deal with addressing the lack of clarity.

[2019-04-02 07:21] #261 closed

[2019-04-02 08:12] polarathene commented on #262
Had a quick browse over the source, the checkout process is handed off to Shopify by the looks of it so no control regarding that error notification?

Would it be a good idea to provide a hint on the sidebar when displaying the swag codes?

Probably not the right choice of words, but you get the idea :)

If e-mail address is the main/only cause, then just adding the clarity there to use the e-mail

[2019-04-10 05:06] KirankumarAmbati commented on #246
Hello everyone, is this issue still open ? If yes, I would like to work on it! 😃

[2019-04-10 07:52] steoneill commented on #246
Feel free to take over!! I've not had as much time recently as i'd hoped! :(

[2019-04-10 11:47] KirankumarAmbati commented on #246
Thanks for the update @steoneill ! I'll start working on it. :)

[2019-04-10 11:48] KirankumarAmbati commented on #246
Assigned to myself

[2019-04-11 13:45] delster commented on #224
Office supplies are always a go-to (pens, small notebooks, USB flash drives, etc) but the best swag has always been things that you don't know you want until you see it, like the sliding webcam covers or a USB hub that has an SD card slot.

I'd personally be interested in a Gatsby-themed deskpad (mouse pad large enough for keyboard and mouse), and I'm surprised there's no lanyards.

[2019-04-11 17:57] akashamin01 commented on #224
we can come up with
1.GatsbyJS cheat book
 2.comics content

which can make the learning easier and this could also go on to hackathons and coding competitions this way we can encourage the developers to get basics of gatsby and and the same time they with their convinience can choose over their stack for the next project.

[2019-04-13 11:55] KirankumarAmbati commented on #246
Fixed and raised PR for this. #264

[2019-04-13 16:38] ShivamGoyal1899 commented on #224
I would suggest some:
1. Water Bottles
2. Mobile backcovers
3. Gloves

[2019-04-14 04:07] mccrodp commented on #143
Shared a similar different one on twitter [here](https://twitter.com/mccrodp/status/1117277258027192323) but here's one with my attempt at "fast" in sign language, already loaded! 🔫 💥

![DSC07396](https://user-images.githubusercontent.com/559938/56088153-e3799b80-5eb5-11e9-8425-b0a1ed45ff0b.JPG)

[2019-04-15 15:11] jlengstorf commented on #263
@polarathene can you say more about this? It _should_ trigger when your first PR is merged, regardless of other PRs being open.

If that didn’t happen, can you please send links to your PRs so we can dig into this a bit? Thanks!

[2019-04-15 15:18] jlengstorf commented on #262
Yeah, we're not quite sure how best to solve this because we can't control Shopify’s checkout page at all.

We should definitely add more information before the checkout, though. Another option could be an intermediate pop-up as you click checkout that reminds people to use their exact GitHub email address as part of the checkout. Might be a bit annoying, but this trips people up often. 😕

[2019-04-15 15:20] jlengstorf commented on #259
@raulrpearson are you still seeing this error? I can’t seem to reproduce it — I’m wondering if we were having server trouble or a temporary upstream outage.

Let me know when you get a chance. Thanks!

[2019-04-15 15:24] jlengstorf commented on #246
Thanks @KirankumarAmbati!

[2019-04-16 04:22] raulrpearson commented on #259
@jlengstorf, I got my swag delivered, which means my Level 1 Swag Code has been claimed, which I think means that I can't reproduce the error, since the state of my profile has changed.

I believe there was some manual processing done to get my order through. I think it involved someone manually changing my email address somewhere, which might have caused the hiccup.

I tried login in just now and

[2019-04-16 05:56] polarathene commented on #262
I've not worked with Shopify before, but perhaps reaching out to them might be a good idea as well. Seems like having the ability to add a note like that in their checkout process when needed is a worthwhile feature for them to provide.

A pop-up may not work if user has adblockers that prevent such behaviour?

Also, it seems I somehow got tier 1 used with my personal email that isn't linked to my

[2019-04-16 06:08] polarathene commented on #263
[Here are my PRs](https://github.com/gatsbyjs/gatsby/pulls?q=is%3Apr+author%3Apolarathene+is%3Aclosed)(filtered by closed which they all are presently).

My first PR submitted to Gatsby is [this one](https://github.com/gatsbyjs/gatsby/pull/10682),
and [this is my first merged PR](https://github.com/gatsbyjs/gatsby/pull/10944).

I would have expected the bot to congratulate me on the first PR that

[2019-04-16 15:50] matldupont commented on #143
Did a Gatsby talk for @OttawaReactJS last November and Linda was kind enough to send some swag for our members.  Everyone loved it!

![Gatsby Swag](https://user-images.githubusercontent.com/3803431/56224613-e0a9b280-603d-11e9-906a-f54c2a324d9e.jpg)

[2019-04-17 16:13] jlengstorf commented on #259
Okay, perfect. Thank you!

[2019-04-17 16:13] #259 closed

[2019-04-17 16:17] jlengstorf commented on #262
Hmm... yeah, that seems weird. We'll keep this on the list of things to hopefully dig into later and improve.

[2019-04-29 23:57] a-trost opened #268 "Allow gifting of gatsby credits"
It would be great if you could purchase credits for other people in the Gatsby community, probably in $5 increments. Giving them out for contests or as a thank you for help seems like a great use of the swag store.

[2019-04-30 05:25] KartSriv opened #269 "Can we change the title of the Gatsby Store?"
What do you guys think about the title `Holy buckets! Get your Gatsby swag here!`? Should we change it? Please leave your comments below.
[code]

[2019-04-30 17:41] KartSriv commented on #269
@jlengstorf

[2019-05-03 00:42] ShadowCoder914 commented on #190
Hi~ Keep this issue open I'm working on it.

[2019-05-03 22:22] jlengstorf commented on #268
Oh, that's a cool idea. It looks like this is possible — I just need to figure out some copy and make them available.

Thanks for this idea! cc @lindaleebumblebee

[2019-05-04 16:34] jlengstorf commented on #269
Hey, @KartSriv! A quick question: do you have a reason for why you want to change the title, or what you'd like to change it to?

[2019-05-13 19:12] thecodingaviator commented on #224
Maybe some comic content as has been suggested already, in addition to which, how about a gatsby onesie 😝 ?

[2019-05-16 15:31] Jared-Dev opened #273 "Consider adding a few relevant redirects"
For whatever reason, I can never remember if it is `swag.gatsbyjs.org` or `store.gatsbyjs.org`. It might be a nice little assist to the users if there were some redirects in place to send a user to the correct domain.

Another possibility for redirects would be to add them for the `.com` site as well.

[2019-05-16 15:32] Jared-Dev commented on #273
Seems like @kkemple mentioned something similar in #108

[2019-05-17 01:56] jlengstorf commented on #273
Yeah, it seems like it's worth doing. I went ahead and set those up for .org and .com.

[2019-05-17 01:56] #273 closed

[2019-05-17 05:31] thecodingaviator commented on #143
@jlengstorf I believe we can remove the Hacktoberfest label. Right?

[2019-05-17 21:28] jlengstorf commented on #143
@thecodingaviator absolutely. Thanks for the reminder!

[2019-05-18 16:00] Jared-Dev commented on #269
I'm personally a fan of the "Swag" moniker! Beyond that, I'm personally indifferent to the other copy!

[2019-05-20 22:06] jlengstorf commented on #269
I'm happy to revisit this if there's a suggested new title, but for now I'm going to close.

[2019-05-20 22:06] #269 closed

[2019-06-01 19:43] anubhavsrivastava opened #275 "[feature] Copy button next to Level 1/2 swag code"
Since the purpose of swag code is to copy and paste it at later stage (during checkout), it would be better to provide copy (to clipboard) functionality for codes.

[2019-06-02 14:55] igeligel commented on #246
I think this bug is still existing. The Id changed to something like `Z2lkOi8vc2hvcGlmeS9DaGVja291dExpbmVJdGVtLzEyMjM5NzcyODc2ODg4MD9jaGVja291dD00YWI5OGRmNDQ0ZGE2NTA5ZjdjYjI4MDI4NzBkMDBhNQ==`. I will create a PR fixing this.

![](https://i.imgur.com/axr2Bum.png)

[2019-06-04 17:27] #268 closed

[2019-06-11 15:19] NeverMendel commented on #275
As far as I know, the discount code is applied automatically, so there is no need to copy and paste it manually.

[2019-06-11 15:37] anubhavsrivastava commented on #275
Yes, that makes a better flow. But it didn't work for me, I had to paste it. Not sure why that happened

[2019-06-17 23:32] jlengstorf commented on #246
Hmm... looks like you're right. Anyone want to tackle a fix?

[2019-06-17 23:34] jlengstorf commented on #275
The discount code isn't applied automatically. A copy button would be cool! I don't have the bandwidth to implement this, but a PR is welcome!

[2019-06-17 23:50] dabhitapan commented on #224
Wristband!

[2019-06-18 15:30] preeti13456 commented on #224
I would love to see a band and covers  plus a hoodie.

[2019-06-18 22:19] jlengstorf commented on #224
@preeti13456 what kind of covers are you thinking?

[2019-06-18 22:20] jlengstorf commented on #224
Also, we totally have hoodies: a [grey one](https://store.gatsbyjs.org/product/dark-monogram-hoodie) and a [purple one](https://store.gatsbyjs.org/product/all-purple-everything-full-zip-hoodie)!

[2019-06-19 00:26] preeti13456 commented on #224
Purple one

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jason Lengstorf <notifications@github.com>
Sent: Wednesday, June 19, 2019 3:50:56 AM
To: gatsbyjs/store.gatsbyjs.org
Cc: preeti13456; Mention
Subject: Re: [gatsbyjs/store.gatsbyjs.org] Post your ideas for new swag! (#224)

Also, we totally have hoodies: a grey one<https://store.gatsbyjs.org/product/d

[2019-06-19 17:12] pourjour commented on #224
Maybe you have to put some Gatsby prendrives

[2019-06-19 17:17] polarathene commented on #224
1. Purchase a cheap/poor quality drive, or a high quality expensive one.
2. Apply tiny sticker of Gatsby logo
3. Now you have Gatsby USB stick swag!

[2019-06-20 13:06] thecodingaviator commented on #224
I don't think that's very smart. Reselling would require a whole legal process afaik

[2019-06-20 15:12] polarathene commented on #224
I was making a joke. You don't need an officially Gatsby branded USB stick, just a Gatsby sticker that you could apply to your own device personally. No legal issues from doing that.

[2019-06-20 16:51] preeti13456 commented on #224
And how to earn those stickers.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Parth Parth <notifications@github.com>
Sent: Thursday, June 20, 2019 6:36:32 PM
To: gatsbyjs/store.gatsbyjs.org
Cc: preeti13456; Mention
Subject: Re: [gatsbyjs/store.gatsbyjs.org] Post your ideas for new swag! (#224)

Maybe you have to put some Gatsby prendrives

  1.  Purchase a

[2019-06-21 01:29] nrator commented on #246
Do you prefer updating the hard-coded id or would you consider setting a minimum subtotal (e.g. $10) for FREE bonus(Gatsby Sticker Pack)?
Let me know and I would like to work on it as my first contribution!

[2019-06-21 02:38] polarathene commented on #224
@preeti13456 You can get them from the Gatsby store, or from contributing to the project which gives you some free swag + sticker pack.

But these stickers are for bigger things like laptop, they don't include a small sticker that would suit a USB stick. So perhaps what you want is for a little strip of Gatsby logo stickers.

[2019-06-21 03:17] preeti13456 commented on #224
And what about t-shirts and caps?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brennan Kinney <notifications@github.com>
Sent: Friday, June 21, 2019 8:08:50 AM
To: gatsbyjs/store.gatsbyjs.org
Cc: preeti13456; Mention
Subject: Re: [gatsbyjs/store.gatsbyjs.org] Post your ideas for new swag! (#224)

And how to earn those stickers.

@preeti13456<https://githu

[2019-06-21 04:27] polarathene commented on #224
@preeti13456 are you not aware of the [Gatsby swag store](https://store.gatsbyjs.org/)? This issue thread is about suggesting new items for it, it doesn't sound like you're familiar with the current items available..

[2019-06-21 08:26] preeti13456 commented on #224
BrennanKinney Ya im a newbie

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brennan Kinney <notifications@github.com>
Sent: Friday, June 21, 2019 9:57:48 AM
To: gatsbyjs/store.gatsbyjs.org
Cc: preeti13456; Mention
Subject: Re: [gatsbyjs/store.gatsbyjs.org] Post your ideas for new swag! (#224)

And what about t-shirts and caps?

@preeti13456<https://github.c

[2019-06-21 08:26] preeti13456 commented on #224
Ya im a newbie

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brennan Kinney <notifications@github.com>
Sent: Friday, June 21, 2019 9:57:48 AM
To: gatsbyjs/store.gatsbyjs.org
Cc: preeti13456; Mention
Subject: Re: [gatsbyjs/store.gatsbyjs.org] Post your ideas for new swag! (#224)

And what about t-shirts and caps?

@preeti13456<https://github.com/preeti13456

[2019-06-25 00:46] wit03 opened #278 "Typo Error in Dark Monogram Hoodie detail."
I found a typo error in this page and already tried to fix it. But I just realized that the item's detail was typed in Shopify

https://store.gatsbyjs.org/product/dark-monogram-hoodie

The word "ring spun" should be "ringspun"

<img width="899" alt="Screen Shot 2562-06-25 at 07 29 51" src="https://user-images.githubusercontent.com/40893632/60060959-3f199e00-971d-11e9-96ce-00967171a5ff.png">

[2019-07-03 05:37] kUSHAL0601 commented on #278
Can I work on this ?

[2019-07-03 14:36] wit03 commented on #278
@kUSHAL0601 Sure!

[2019-07-19 17:27] #275 closed

[2019-07-24 00:46] virenb commented on #224
Hi Jason and all,
Are there plans for new t-shirt designs to come out? I remember seeing the Gatsby astronaut on a gray shirt, that looked great, would gladly purchase that.

[2019-08-04 17:27] #278 closed

[2019-08-07 18:18] jlengstorf commented on #278
This change had to be made in Shopify — I just made it. Thanks for pointing this out!

[2019-08-07 18:19] jlengstorf commented on #93
This was patched a while back — should have close this!

[2019-08-07 18:19] #93 closed

[2019-08-07 18:19] #116 closed

[2019-08-07 18:21] jlengstorf commented on #240
@wardpeet did this patch get merged? I haven't seen the slow image process, so I can’t verify.

[2019-08-07 18:22] jlengstorf commented on #224
@virenb at the moment we don't have new designs planned, but that's a great idea.

[2019-08-12 08:41] simjes commented on #246
@jlengstorf I'll take a look, do you have any suggestions for a more permanent fix than just changing the ID?

[2019-08-12 11:06] MinxiesDev opened #282 "Multiple variations?"
Firstly, absolutely love this project. It's my main reason for using Shopify over other e-commerce solutions.

Does this set-up currently support multiple product variations?

Thanks for providing such a great project.

[2019-08-12 20:22] #246 closed

[2019-08-17 18:46] jlengstorf commented on #282
@MinxiesDev there's variant support in the store, but we haven't done too much with the logic — we opted to try and keep this as simple as possible. However, the raw pieces are available; you should have access to the full output of the Shopify GraphQL API.

Good luck!

[2019-08-17 18:46] #282 closed

[2019-08-18 02:54] hangindev commented on #224
Unisex tank top, in response to global warming 🌞🔥🔥🔥

[2019-08-18 12:00] DevenRathod2 opened #283 "New Swag Idea!"
A t-shirt on front side a small logo of Gatsby on left corner and on back side This Text : Gatsby Developer That look great

[2019-08-18 18:21] yashtandon019 commented on #224
Would love to see a new dark themed Laptop Bag. I guess that would look really cool.

[2019-08-21 17:08] jlengstorf commented on #283
Hey, @DevenRathod2 — thanks so much for this! Would you mind moving this to the official swag idea issue in #224?

Thanks!

[2019-08-21 17:09] #283 closed

[2019-08-25 10:53] kindavishal commented on #221
Hey @jlengstorf! I'd like to help out if you could provide me some mentoring with how to solve this!

[2019-08-25 22:51] jlengstorf commented on #221
@kindavishal unfortunately, this issue can only be solved by the core Gatsby team because it requires logging into the Shopify admin interface. Thanks so much for the offer, though!

We probably need @fk, @lindaleebumblebee, and/or @hashimwarren's help here:
1. Collect hi-res product images (combo of promo shots + community photos — see #143)
2. Size them correctly (square, 2800x2800) in Figma — p

[2019-08-26 03:34] kindavishal commented on #221
Oh! Okay, no problem! Please let me know if I can help in anyway anywhere! :smile:
Thanks :sparkles:

[2019-08-29 10:27] steoneill commented on #143
![Matilda in a sick cap](https://user-images.githubusercontent.com/7356113/63932853-f5686f00-ca4f-11e9-9b87-936029ce2f3c.jpeg)
JAMstack poster child!

[2019-09-03 01:33] jlengstorf commented on #143
@steoneill holy crap that is adorable 💜😍💜

[2019-09-09 05:46] ganapativs commented on #261
<img width="440" alt="Screenshot 2019-09-09 at 11 11 44 am" src="https://user-images.githubusercontent.com/4010960/64505816-ce812700-d2f2-11e9-9581-02e1bdce2f65.png">

I gave different email(not the primary email in GitHub) to gatsby store while logging in. Now coupon code "BUILDWITHGATSBY" won't work anymore when using either of the emails while check out 😅

@jlengstorf Help? 😬

[2019-09-09 06:00] ganapativs commented on #113
<img width="440" alt="Screenshot 2019-09-09 at 11 11 44 am" src="https://user-images.githubusercontent.com/4010960/64505816-ce812700-d2f2-11e9-9581-02e1bdce2f65.png">

I gave different email(not the primary email in GitHub) to gatsby store while logging in. Now coupon code "BUILDWITHGATSBY" won't work anymore when using either of the emails while check out 😅

@jlengstorf Help? 😬

[2019-09-11 15:52] gagandeepp commented on #190
Are you still working on this?

[2019-09-15 23:53] pamo commented on #143
@jlengstorf do you have more information about the sizing for the jammies/pants?

[2019-09-16 00:03] jlengstorf commented on #143
I don't, but I'm going to redirect this to @lindaleebumblebee, who runs the show for the swag.

[2019-09-16 00:21] pamo opened #285 "Sizing information for pants"
Realized my comment would do better in its own issue.

I don't, but I'm going to redirect this to @lindaleebumblebee, who runs the show for the swag.

_Originally posted by @jlengstorf in https://github.com/gatsbyjs/store.gatsbyjs.org/issues/143#issuecomment-531611049_

Are there manufacturer size charts for the pants? The current sizing information doesn't say anything about hip/waist ranges per

[2019-09-16 16:17] lindaleebumblebee commented on #143
Hi- there should be a sizing chart in the store.gatsbyjs.org that will give
you more details.

On Sun, Sep 15, 2019 at 5:03 PM Jason Lengstorf <notifications@github.com>
wrote:

--
Linda Watkins
Director of Marketing
*Gatsby* <https://www.gatsbyjs.com/>

[2019-09-16 17:39] vinay72 commented on #143
@jlengstorf Can you give me one gatsby swag??

[2019-09-16 20:07] lindaleebumblebee commented on #285
Hi all- sizing details can be found in the store (just click on the sizing
details on an individual item). store.gatsbyjs.org

On Sun, Sep 15, 2019 at 5:21 PM Pamela Ocampo <notifications@github.com>
wrote:

--
Linda Watkins
Director of Marketing
*Gatsby* <https://www.gatsbyjs.com/>

[2019-09-16 21:57] pamo commented on #285
Can you point me to hip and waist measurements @lindaleebumblebee ?

[2019-09-16 22:34] lindaleebumblebee commented on #285
Ah- thanks for pointing that out. I'll get those details to you shortly and
will update the sizing chart on the website.

On Mon, Sep 16, 2019 at 2:57 PM Pamela Ocampo <notifications@github.com>
wrote:

--
Linda Watkins
Director of Marketing
*Gatsby* <https://www.gatsbyjs.com/>

[2019-09-16 23:02] lindaleebumblebee commented on #285
Here's the length for the pants and I'm still working on getting the
waist/hip sizing:

Length of pants

Small – 28 - 30”

Medium – 32 - 34”

Large – 36 - 38”

XL – 40”- 42”

2XL – 44”- 46”

On Mon, Sep 16, 2019 at 3:34 PM Linda Watkins <linda@gatsbyjs.com> wrote:

--
Linda Watkins
Director of Marketing
*Gatsby* <https://www.gatsbyjs.com/>

[2019-09-30 13:15] lannonbr opened #286 "Remove apparel links for non-apparel items on the store"
## Description

For instance, the Diversity and Inclusion Donation item is not a piece of clothing, but has the "materials and fit" and "care instructions" links on the page

Page: https://store.gatsbyjs.org/product/diversity-inclusion-donation

## Preview

![Diversity and Inclusion page with apparel links on it](https://user-images.githubusercontent.com/3685876/65882262-b8e7a600-e362-11e9-81a3-d2

[2019-10-03 12:58] sakkshm opened #290 "Making the 404 page more informative."
It can be done by adding small links on the page to different pages on the website!
Like,
-> Store home page
-> Gatsby home page
-> Gatsby Github page
This will be really useful!
And i would love to do it!

[2019-10-04 05:11] hillarysousa opened #292 "Couldn't start the project"
I've forked and cloned the project, but when I try to build it or even start it, it gives me an error.

Apparently, there is something wrong with the Shopify integration, but I couldn't figure out what is happening.

![image](https://user-images.githubusercontent.com/10313411/66182650-55a09100-e64c-11e9-80d0-b5f297949a2a.png)

[2019-10-04 10:34] codetronaut commented on #286
Please assign this issue to me.

[2019-10-04 21:30] amolmt commented on #290
I am working on this.

[2019-10-04 21:43] amolmt commented on #292
I'm facing the same issue!

[2019-10-04 22:26] amolmt commented on #292
I tried but couldn't fix it. I think this issue is related to Shopify client ID which is in .env.dev
GraphQL is not being able to query allShopifyProducts so the issue has to be in .env or Auth0

[2019-10-05 04:21] Aswinpookkatt commented on #224
GATSBY Laptop Bag
Mini Table Clock
GATSBY MOUSE
GATSBY USB STICKS
GATSBY BLUETOOTH SPEAKERS
GATBSY NIGHT GLOWING STICKERS

[2019-10-05 06:39] BALAJIRAO676 commented on #286
Are you still working on this issue . If not i would be interested to take this up

[2019-10-05 08:28] codetronaut commented on #286
yes @BALAJIRAO676 i'm working on it.

[2019-10-05 14:18] imagentleman commented on #292
@hillarysousa @amolmt Did you by any chance use npm instead of yarn? This also happened to me, but i noticed that the project doesn't have a package-lock.json but a yarn.lock, so tested with yarn and the project ran successfully.

My guess is that with npm since there isn't a lock file with the right versions of the dependencies, when you run npm install a dependency with a wrong version (an updat

[2019-10-05 15:12] hillarysousa commented on #292
Hmmm yeah. I ran it with NPM. I'll test it with Yarn.

Em sáb, 5 de out de 2019 11:18, José Antonio Chio <notifications@github.com>
escreveu:

[2019-10-05 16:17] frankwrk commented on #224
A Gatsby umbrella, since I live in Ireland 😀

[2019-10-05 16:48] gusma commented on #224
Handy towels (small sized, gym-like) or hand scrunchies for exercising. Also wind jackets could be nice as well.

[2019-10-05 21:27] NickyMeuleman commented on #224
That packing tape with the Gatsby logos recent swag boxes come sealed with.

I felt weirdly guilty about cutting it open to get to that sweet themejam shirt.

[2019-10-05 21:54] greenorb007 commented on #286
@lannonbr please help i am little new to this, i have researched the whole repo and found that there is a need for condition in this file "https://github.com/gatsbyjs/store.gatsbyjs.org/blob/master/src/components/ProductDetails/ProductDetails.js" in the return for the bifiguration of theproducts.

[2019-10-06 05:39] codetronaut commented on #286
@lannonbr please help I am a little new to this, I have researched the whole repo and found that there is a need for the condition in this file "https://github.com/gatsbyjs/store.gatsbyjs.org/blob/master/src/components/ProductDetails/ProductDetails.js" in return for the bifiguration of the products.

[2019-10-06 10:13] DEBSUBHRO commented on #224
GATSBY shorts?

[2019-10-06 17:44] aditya1rawat commented on #224
I think maybe:
1. Gatsby Phone Case
2. Tote Bags
3. Lucky Bags With Some Random Gatsby Swag
4. USB Drives
5. Hard Drive
6. Water Bottles
7. Watches
8. Bluetooth Speakers
9. Tableclothes

[2019-10-07 01:43] raulgonzalezcz commented on #224
We can include key chains, bracelets :)

[2019-10-08 18:00] dpdhruv commented on #113
Hello there , I'm facing the same issue. Not able to apply the code as it says "The code is not available to you right now".

Can anyone help me with it? @jlengstorf

[2019-10-09 16:43] #113 closed

[2019-10-14 10:16] kimberrypi opened #305 "Error loading discount code"
I was trying to retrieve my coupon code from the Gatsby store and it returned this error.

<img width="377" alt="Screen Shot 2019-10-14 at 4 26 43 PM" src="https://user-images.githubusercontent.com/20434382/66744190-618f1d00-eeae-11e9-8079-008349d652ce.png">

[2019-10-18 16:21] kimberrypi commented on #305
Apparently this happens when you change your Github username.
It worked after I used another email.

[2019-10-18 16:21] #305 closed

[2019-10-19 13:12] JohJohan opened #307 "<img> tag is self closing"
The image tag is self closing see as it cannot have child nodes.

More info see:
https://stackoverflow.com/questions/23890716/why-is-the-img-tag-not-closed-in-html/23890817

[2019-10-19 13:14] JohJohan commented on #307
See https://github.com/gatsbyjs/store.gatsbyjs.org/pull/308

[2019-10-21 14:50] sidharthachatterjee commented on #307
JSX requires us to close the tag as far as I can tell. Let's close this for now.

[2019-10-21 14:50] #307 closed

[2019-10-21 15:07] #290 closed

[2019-10-22 03:18] jazzninja commented on #224
It would be cool to see maybe a Gatsby beer stein or pint glass. Also, maybe some sweet shoelaces??

[2019-10-22 20:43] mihaiserban commented on #292
indeed there's a yarn.lock file which locks the versions of the packages. You could as well lock the version in the package.json like so:

"gatsby-source-shopify": "2.0.30",
"shopify-buy": "2.2.4",

[2019-10-30 14:51] MinxiesDev commented on #282
Great, thanks so much for the heads up!

Best, James

[2019-11-07 17:27] #286 closed

[2019-11-12 16:32] vmr1532 commented on #224
Gatsby shoes and bag

[2019-11-12 17:31] navneetsn18 commented on #224
Gatsby Notebooks Whould be a good idea.Or Posters are also a good idea.

[2019-11-14 19:41] siddharthdayalwal commented on #224
we can have things in schwags which are in daily use

- Pens and stationary
- Diaries
- Clocks
- Pen-stand
- Coffee mugs
- A Gatsby Clip art or a Cartoon like thing, any soft toy
- Mug Lid

[2019-11-14 19:42] siddharthdayalwal commented on #224
- Tracksuits

[2019-11-15 04:28] vraj6198 commented on #224
- phone PopSocket

- mobile cases

- diary (notebook)

- wrist band

- laptop bags / wildcraft casual backpack (String backpack)

[2019-11-15 04:43] vraj6198 commented on #224
- laptop Bag / Wildcraft causal backpack(String Backpack)

- phone PopSocket

- mobile cases

- Diaries / notebook

[2019-11-15 10:50] damikanye commented on #224
- Joggers pant
- A backpack

[2019-11-19 12:30] allelos opened #312 "Does not check against a null set value when retrieved from local storage (null !== 'null')"
https://github.com/gatsbyjs/store.gatsbyjs.org/blob/b2f186f50384f7466687f253cd2cb760e29ce783/src/components/Layout/Layout.js#L219

It should be `if (existingCheckoutID && existingCheckoutID !== 'null')`

[2019-11-20 16:21] muescha commented on #305
maybe adding some info about changed emails or that github email should match?

[2019-11-23 17:27] #292 closed

[2019-11-24 05:11] aniyip commented on #224
I'd love to see:
- laptop sleeve
- tech glove
- jogging phone holder

[2019-11-26 10:07] harithesolotraveller opened #314 "GraphQL error"
GraphQL error: Cannot read property 'id' of undefined

[2019-11-26 10:20] harithesolotraveller commented on #314
![image](https://user-images.githubusercontent.com/58143013/69621083-755ca000-1064-11ea-864d-e58d55b04b44.png)

[2019-11-26 10:21] harithesolotraveller commented on #314
cc/ @sidharthachatterjee

[2019-12-08 17:42] letscodedev commented on #224
Would love to use Gatsby Bagpack.

[2019-12-10 22:10] webinista opened #315 "store.gatsbyjs.org needs permission to access api.gatsby.org"
I tried to claim my swag coupon, but the network request fails. Looks like it's a cross-origin issue.

The console says:

[code]

[2019-12-11 11:52] jamo commented on #315
`curl -i https://api.gatsbyjs.org/graphql -XOPTIONS` seems to return `access-control-allow-origin: *`

[2019-12-20 04:12] webinista commented on #315
This seems to be resolved now. Perhaps it was a temporary glitch. Going to close it.

[2019-12-20 04:12] #315 closed

[2019-12-21 16:37] monizb commented on #143
Hey @jlengstorf, Gatsby.js is an open source community and anyone can be a part of this! Please check this https://www.gatsbyjs.org/contributing/ for more details on how to contribute, you can claim your free swag after your first contribution to the Gatsby community!

[2020-01-04 12:30] ThewBear opened #318 "There is no longer account.js"
The Gatsby store `account.js` is mentioned everywhere in the Docs for client-only route. Since 7cd87cb, it has been removed. Those docs need some updates.

There are also some codes in this repo which are no longer used such as
https://github.com/gatsbyjs/store.gatsbyjs.org/blob/b2f186f50384f7466687f253cd2cb760e29ce783/gatsby-node.js#L61-L76

[2020-01-08 02:46] remediosaraya commented on #224
Black hoodie!!!
![gatsbyHoodiePurpl](https://user-images.githubusercontent.com/4819636/71946198-bcbf6b80-318e-11ea-9e76-c48b7706736c.jpg)
![gatsbyHoodieWhite](https://user-images.githubusercontent.com/4819636/71946199-bcbf6b80-318e-11ea-8a6b-8d0d17498e10.jpg)

[2020-01-08 03:04] remediosaraya commented on #224
Kids Tshirts
![gatsbykid](https://user-images.githubusercontent.com/4819636/71947087-4bcd8300-3191-11ea-9969-a269d838a48d.jpg)

[2020-01-08 03:15] remediosaraya commented on #224
baseball t-shirt
![gatsbybb](https://user-images.githubusercontent.com/4819636/71947558-e4183780-3192-11ea-84b0-979f75ad69db.jpg)

[2020-01-08 03:24] remediosaraya commented on #224
pop sockets
![popPh](https://user-images.githubusercontent.com/4819636/71947948-15453780-3194-11ea-85ca-ff14afc16cc6.jpg)

[2020-01-08 05:24] awanisius commented on #224
How about fullprint t-shirt?

Like this [https://github.com/teonite/t-shirts](https://github.com/teonite/t-shirts)

[2020-01-08 12:03] preeti13456 commented on #224
Gatsby mug and slippers.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ahmad Ainul Rizki <notifications@github.com>
Sent: Wednesday, January 8, 2020 10:54:59 AM
To: gatsbyjs/store.gatsbyjs.org <store.gatsbyjs.org@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [gatsbyjs/store.gatsbyjs.org]

[2020-01-09 18:38] aknrg77 commented on #224
- Mobile case covers
- Coffee mugs
- Calendars

[2020-01-12 21:32] hackrx commented on #224
Hats with a cool colors combination and Gatsby logo in the middle.
Notebook and pen.
Wrist Band.
Keyholder.
Stickers.

[2020-01-13 03:38] yajna-pandith commented on #224
Pendrives
Mobile covers

[2020-01-13 05:04] siddharthdayalwal commented on #224
How about Gatsby Hand Gloves!!

[2020-01-18 16:39] Developerayo commented on #312
Oh, Thanks! @allelos can you open a PR for this?

[2020-01-18 16:49] Developerayo commented on #318
Hey, @ThewBear I left a comment on your opened issue on the gatsby repo, can you open a PR here to fix this here?

[2020-01-23 02:09] parthikrb commented on #224
Laptop Sleeve
Hoody
Track Pants

[2020-01-30 16:23] spielers commented on #224
gatsby custom printed  shoes  will be really awesome
I will love to were if I get one of them.

[2020-02-24 09:54] dmitriyaa opened #321 "I think 404 styling is broken"
I'm not 100% sure, but I think that the stylins on 404 page are broken (see screenshot below).
<img width="1657" alt="Screenshot 2020-02-24 at 10 52 57" src="https://user-images.githubusercontent.com/28235413/75142676-e2c7ad80-56f3-11ea-8d2e-3f06792874c1.png">

[2020-02-28 05:10] Usamaliaquat123 opened #324 "BUILDWITHGATSBY discount code isn’t available to you right now"
I'm trying to add my swag code on https://store.gatsbyjs.org/  but it show's like this "BUILDWITHGATSBY discount code isn’t available to you right now". Ii found some solution on github i try but looks like it doesn't work...
![download](https://user-images.githubusercontent.com/33973828/75512238-97d4c100-59a5-11ea-9687-fb28161159b0.png)

[2020-02-28 05:14] Usamaliaquat123 commented on #324
PS : I use the same email use in **Github**

[2020-02-29 20:35] thayannevls opened #325 "Minicart crashes when internet connection is lost"
Adding products or changing the quantity while offline doesn't work and the minicart keeps loading even when user is back online, forcing user to reload the page and lose their minicart data.

This can be a problem to users with low quality networks too.

### How to reproduce
1. Add an product in the minicart
2. Go offline
3. Change the quantity of the product in the minicart
4. Minicart will be i

[2020-03-02 05:56] marquez138 commented on #292
Hi did this issue get solved? Im also having this error even after yarn install

[2020-03-02 11:07] xaviemirmon commented on #324
Hi, @Usamaliaquat123

I don't have any affiliation with the GatsbyJS Store (so removing myself as an assignee) just added a couple of PRs to this repo.

That said, I have run into this issue myself, and the problem was needing to use the same e-mail that I log in to Github with and not the one listed on my profile.   If that doesn't fix it, team@gatsbyjs.com were really helpful in getting to the b

[2020-03-02 17:30] #312 closed

[2020-03-02 18:56] marquez138 opened #326 "Cannot start the project"
Hi im getting a graphql error when i run yarn start/gatsby develop. I yarn installed and builds successfully but get this error
![screencapture-localhost-8000-2020-03-02-08_53_56](https://user-images.githubusercontent.com/6958145/75707812-af40d200-5c63-11ea-9703-f8fae5b225e1.png)

Any help would be appreciated

[2020-03-02 21:23] #321 closed

[2020-03-06 04:25] pb-10 commented on #224
- gatsby themed diary/book
- gatsby themed pop sockets
- gatsby themed phone case
- gatsby themed mug
- gatsby themed backpack
- gatsby themed flip-flops
- gatsby themed wrist-band
- gatsby themed shorts
- gatsby themed wallet
- gatsby themed laptop bag
- gatsby themed mousepad

[2020-03-14 14:44] S-ayanide commented on #224
Would really love to have a Gatsby Stress Buster Ball! That would be really a nice table mate. Also, Having a Dark Themed Gatsby Coffee Mug would be awesome I think.

[2020-03-17 23:45] jwu910 commented on #318
Hi! :wave: , new to Gatsby, and just browsing to see if there were issues I could use to get familiar with the code base. This issue was one of the first that looked straight forward.

Looks like I might need updated shopify keys to get this set up locally,  based off the last changes, it looks like you got rid of the account/* routes and opted for the ProductListings as the home page.

If that's

[2020-03-28 19:18] RedHoodJT1988 commented on #224
I have a few ideas:

- Gatsby Light/Dark Themed Mouse Pad
- Gatsby Astronaut themed mouse pad
- A fitted JAMStack Gatsby New Era hat
- Gatsby Tech Backpack
- Gatsby Laptop case
- A transparent Gatsby Logo sticker so you can cover up your Apple logo on your mac and have it glow from the light.

[2020-03-30 10:26] yash982000 commented on #224
I would say a black hoodie will always work.
I can also say what other things work quite well in front of people.
For example:-
a notebook/diary.
a full laptop screen backside with big logo on the center.
Mostly, T-shirts work very good and we all love them. And plenty of small stickers as well.
And one better thing to add is the sipper. This is very trendy nowadays.
I hope I receive some of these

[2020-04-14 11:44] qubis741 commented on #326
update dependencies:
gatsby-source-shopify
shopify-buy

[2020-07-15 11:25] Lavish-Garg commented on #224
Few ideas
1. Custom Arm Band Phone Holder
2. Customized Budget Duffle Bag
3. Simple LCD writing tablet
4. Diary (many students like to collect)
5. Badges
6. Table Clock
7. Wrist Band
8. Pen
9. Small carry bag

[2020-07-17 21:18] midopooler commented on #143
does it ship to india as well?

[2020-07-17 21:21] midopooler opened #332 "There was an error loading my discount code."
![Screenshot_2](https://user-images.githubusercontent.com/43686606/87831587-91d27480-c8a1-11ea-8196-3f0a63c8a935.png)

[2020-07-18 02:27] imantha-chathuranga opened #333 "swag"

[2020-07-18 02:38] monizb commented on #143
@midopooler Yes it does I'm from India too, but be ready to wait for a very long time around 2 months atleast.

[2020-07-31 10:15] RahulMahesh62 commented on #224
Phone holders 📱
More Stickers 🧾
Backpack 🎒

[2020-07-31 13:23] aaryanporwal commented on #224
It's time for a Gatsby Mascot???
![middleparrot](https://user-images.githubusercontent.com/54525904/89039059-4afb6a80-d2f6-11ea-93d9-5dc5f82380f7.gif)

[2020-08-03 07:37] #333 closed

[2020-08-07 01:05] wildpow opened #336 "Terrible performance using CSS filter blur on FireFox while toggling cart."
I've come across this issue a few times in other projects, and I still have not found a working solution. Besides just not using filter blur in projects because of Firefox's performance. In my research, I found a few old FF bugs, but no one seems to be talking about this recently.

 I would have just created a PR removing the filter from `PageContentRoot` component in `PageContent.js` but, I wante

[2020-08-15 10:44] graceso commented on #224
- Umbrellas
- Power banks/portable chargers

[2020-08-17 15:52] atharwa-24 commented on #224
- Wrist-bands with gatsby logo (black/purple)
- scribble pad

[2020-08-17 16:27] atharwa-24 commented on #224
- night glow Phone and laptop stickers

[2020-08-17 16:29] atharwa-24 commented on #224
- nightglow hoodies
- nightglow laptop skin
- carbon laptop / mobile skin

[2020-08-17 16:36] yash982000 commented on #224
Is this even active now?

[2020-08-17 16:46] atharwa-24 commented on #224
they havent closed it yet
seems to be open

[2020-08-18 05:21] Lavish-Garg commented on #224
Gatsby covid mask

[2020-08-18 05:22] Lavish-Garg commented on #224
Gatsby Handwash

[2020-08-19 03:02] TechAtVishal commented on #224
Backpack

[2020-08-19 03:06] TechAtVishal commented on #224
1. Gatsby themed Backpack
2. Gatsby themed iPhone case
3. Gatsby themed Pencil case

[2020-08-27 20:24] blacksanta1999 commented on #224
Gatsby sneakers

[2020-08-27 20:24] blacksanta1999 commented on #224
Gatsby handkerchief

[2020-08-29 11:33] chaitanya-kashyap commented on #224
Gatsby Wristbands
Gatsby Dark Hoodie
Gatsby Pen

[2020-08-29 12:28] yash982000 commented on #224
@jlengstorf  Please let us all know if this is still open or not because all are just spamming and there hasn't been any update or response.

[2020-08-30 18:09] parulc7 commented on #224
1. Gatsby Themed Mug
2. Laptop Skin/Stickers

[2020-08-30 21:37] avisionx commented on #224
An insulated bottle like one Google does would be really cool.
![](https://your.googlemerchandisestore.com/Images/Products/Large/GGL1712_bottle%202_4567.png)

https://your.googlemerchandisestore.com/details/Lifestyle/Drinkware/GGL1712_Android%20BRB%20Insulated%20Bottle%20-%20Navy

[2020-08-31 13:16] jelonmusk commented on #224
I would love to have a glow in the dark mug with gatsby logo on it.
Or perhaps, bagpack pin or a figurines or black desktop mat with purple led light around it.

[2020-08-31 17:54] yash982000 commented on #224
Woww!! That was a detailed one!!

[2020-09-01 22:57] jlengstorf commented on #224
@yash982000 I don't work at Gatsby anymore, so I think this might be a better question for the Gatsby team

[2020-09-02 03:54] yash982000 commented on #224
Ohh, I see @jlengstorf . Thank you for informing. I am asking since there is no meaning of people spamming unless its actually gonna work out.

[2020-09-02 06:13] thehanimo commented on #285
The size chart for Unisex Pants on [store.gatsbyjs.org](https://store.gatsbyjs.org)  is still out of sync. Here's a copy of a more accurate one I received from team@gatsbyjs.com:
![Jammies Size Chart](https://user-images.githubusercontent.com/37334271/91938277-5553be80-ed11-11ea-9a15-3b7dde34eba2.png)

[2020-09-04 05:18] gburiticato commented on #224
Bike bibs and bike jumpers with the logo

[2020-09-05 04:58] Ayushbajpai19 commented on #224
Maybe some backpacks and coffee mugs can be good swags or even scarfs.

[2020-09-05 15:47] anshdhinhgra47 commented on #224
Maybe a Gatsby notebook or Headphones with Gatsby's stickers on them ?

[2020-09-16 08:54] nevotheless opened #340 "Failed to load Discount Code - GraphQL Error"
Howdy,

today was a nice day since my first gatsby pr got merged and I wanted to take a look at the store. After I logged in and tried to get my Discount Code I got a graphql error saying something like "Only Github Owner or maintainers have permission to add something to something."

Unfortunately, I didn't take a screenshot. I don't know if contributors should be added to the gatsby org in some